@keyframes shine_sweep {
    0% {
        transform: translateX(-32px) translateY(32px);
        opacity: 1.0;
    }

    100% {
        transform: translateX(32px) translateY(-32px);
        opacity: 1.0;
    }
}

@keyframes flash {
    0% {
        brightness: 0.5;
    }

    50% {
        brightness: 2;
    }

    100% {
        brightness: 0.5;
    }
}