@keyframes shine_sweep {
    0% {
        transform: translateX(-32px) translateY(32px);
        opacity: 1.0;
    }

    100% {
        transform: translateX(32px) translateY(-32px);
        opacity: 1.0;
    }
}