@import "./variables/_variables.less";

@import "./components/button.less";
@import "./components/ability_image.less";
@import "./components/item_image.less";
@import "./components/table.less";
@import "./components/forms.less";
@import "./components/arms_types.less";
@import "./components/rare_panel.less";
@import "./components/ability_type.less";

@import "./custom/icon.less";

@contextmenu_zindex: 10000100;
@mousepanningcursorsize: 64px;
@colorHomeStatLineText: #ffffff;
@colorHomeStatLineTextBright: #ffffff;
@defaultFont: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim;
@monospaceNumbersFont: RadianceM, Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
@titleFont: Reaver, Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
@baseColor :#cacaca;


Label {
    font-family: @defaultFont ;
    color: @baseColor;
}

.full-screen,
.full,
.root {
    width: 100%;
    height: 100%;
}

.grid {
    width: 100%;
}

.flow-down {
    flow-children: down;
}

.flow-right {
    flow-children: right;
}

.hor-right {
    horizontal-align: right;
}

.hor-center {
    horizontal-align: center;
}

.vert-bot {
    vertical-align: bottom;
}

.element_fire {
    color:#ff0000;
    // text-shadow: 0px 0px 2px 4.0 #da0000;
}

// 容器
.container {
    // border: 2px solid @white;
    // padding: 2px;
    // font-size: 16;
    background-color: #181818dd;
    border: 2px solid #222222;
    box-shadow: #000000aa 0px 0px 8px 0px;
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    .head {
        width: 100%;
        background-color: #181818;
        padding: 4px;
        // border: 2px solid #111111;

        Label {
            vertical-align: middle;
            font-size: 18px;
            color: #666666;
            // margin: 6px;
        }

    }

    .title {
        Label {
            margin: 5px;
            font-size: 17px;
            color: #888888;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
        }
    }

    .content {
        width: 100%;
        flow-children: down;
    }

    .grid {
        width: 100%;
        flow-children: down;
    }

    .row {
        width: 100%;
        flow-children: right;

        &.wrap {
            flow-children: right-wrap;
        }
    }

    .col {
        width: fill-parent-flow(1);
    }
}

.is_negative {
    color:#ff0000;
}

.soul {
    color:#4697f3;
}

.count {
    color:#6af70c;
}

.altar_color {
    
    color:rgb(255, 230, 2); // 光明圣坛
    color:rgb(255, 64, 64); // 神速圣坛
    color:rgb(76, 198, 255); // 寒冰圣坛
    color:rgb(0, 96, 240); // 雷霆圣坛
    color:rgb(248, 60, 3); // 炙热圣坛
    color:rgb(255, 150, 52); // 神圣圣坛
    color:rgb(147, 0, 206); // 经验圣坛
    color:rgb(4, 109, 1); // 灵魂圣坛
    color:rgb(237, 219, 255); // 神秘圣坛
}