@import "./../variables/_variables.less";

.btn-group {
    >.btn {
        width: fill-parent-flow(1.0);
    }
}

.btn-close {
    width: 24px;
    height: 24px;
    wash-color: #888888;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid @btn-color-border;
    margin: 2px;
    transition-property: wash-color, pre-transform-scale2d, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;

    &:hover {
        background-color: @btn-color-bg-hover;
    }
}
.btn.dev,
.Dev .btn {
    background-color: #333333;
    background-image: none;
    border: 1px solid #666;
    height: 32px;
    padding: 2px;
    
    Label {
        font-size: 18px;
    }
}

.btn {
    width: 111px;
    height: 39px;

    background-image: url("file://{images}/custom_game/icon/btn/btn_confirm.png");
    background-size: 100%;

    &.cancel {
        // background-color: #f00;
        background-image: url("file://{images}/custom_game/icon/btn/btn_cancel.png");
    }

    &:enabled {
        &:hover {
            brightness: 1.5;
        }
    
        &:active {
            brightness: 0.8;
            pre-transform-scale2d: 0.95;
        }
    }
    
    &:disabled {
        saturation: 0.2;
        brightness: 0.2;
    }
    
    Label {
        align: center center;
        color: #ffffff;
        font-size: 18px;
        text-shadow: 0px 0px 2px 2.0 #000000;
        margin-bottom: 4px;
    }

    // background-color: @btn-color-bg;
    // border: 1px solid @btn-color-border;
    transition-property: background-color, border, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin: 4px;
    padding: 4px;

   
}