.player_dialog {
    width: 100%;
    height: 100%;
}

#PlayerReviveContainer {
    width: 100%;
    height: 100%;
}

.PlayerRevivePanel {
    width: 233px;
    height: 47px;
    background-image: url("file://{images}/custom_game/hud/player_dialog/revive_border.png");
    // revive_border
}