.player_dialog {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.DialogContainer {
    width: 100%;
    height: 100%;
}

.PlayerRevivePanel {
    width: 233px;
    height: 47px;
    background-image: url("file://{images}/custom_game/hud/player_dialog/revive_border.png");
    // revive_border
}

#LocalPlayerRuneDialog {
    margin-top: 100px;
    horizontal-align: center;

    opacity: 0;
    flow-children: down;

    &.Show {
        opacity: 1;
    }

    .Header {
        width: 164px;
        height: 36px;
        background-image: url("file://{images}/custom_game/hud/player_dialog/rune_select_timer.png");
        horizontal-align: center;
    }

    .Content {
        min-width: 784px;
        // width: 644px;
        min-height: 278px;
        background-image: url("file://{images}/custom_game/hud/player_dialog/rune_select_dialog.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        // border: 1px solid #ffffff;
    }

    .SelectCountdownTimer {
        align: center center;
        font-size: 24px;
        color: #ff5252;
        padding: 4px;
        text-align: center;

    }

    #RuneSelectList {
        // border: 1px solid #fff;
        horizontal-align: center;
        // vertical-align: top;
        // height: 300px;
        vertical-align: middle;
        flow-children: right;
        // margin-bottom: 56px;

        .RuneInfo {
            // border: 1px solid #ffffff;
            flow-children: down;
            width: 192px;
            height: 264px;
            // border: 1px solid #973030;
            // 
            background-image: url("file://{images}/custom_game/hud/player_dialog/rune_hover.png");
            background-size: 100%;
            background-img-opacity: 0;

            &:hover {
                background-img-opacity: 1;
            }
            padding: 8px;
            margin-left: -4px;
            margin-right: -4px;

            // margin: 0px 8px;
            #RuneIconBtn {
                margin-top: 16px;
                width: 68px;
                height: 68px;
                padding: 1px;
                border: 2px solid #ffffff;
                border-radius: 4px;
                box-shadow: #000000aa 0px 0px 8px 4px;
                // background-color: #1b2642;
                // background-color: rgb(17, 26, 38);
                // background-color: gradient(radial, 0% 100%, 0px 0px, 50% 50%, from(#000000),  to(#242726));
                horizontal-align: center;
            }

            .RuneName {
                margin-top: 12px;
                horizontal-align: center;
                flow-children: right;

                Label {
                    margin-left: 4px;
                    margin-right: 4px;
                    font-size: 18px;
                    color:#ffffff;
                    text-shadow: 0px 0px 1px 1.0 #000;
                }

                .NameDecorate {
                    width: 28px;
                    height: 7px;
                    vertical-align: middle;
                    background-image: url("file://{images}/custom_game/hud/player_dialog/name_decorate.png");

                    &.Right {
                        transform: rotateY(180deg);
                    }
                }
            }   

            &.rarity_1 #RuneIconBtn {
                border-color: rgb(148,75,255);
            }
            &.rarity_2 #RuneIconBtn {
                border-color: rgb(255,202,60);
            }
            &.rarity_3 #RuneIconBtn {
                border-color: rgb(255,79,77);
            }
            // &.rarity_1 .RuneImage {
            //     // opacity-brush: gradient(linear, 0% 0%, 100% 0%, from(#5eff50), to(#b9dcff));
            //     // opacity-brush: gradient(linear, 0% 50%, 100% 0%, from(#FF0000),
            //     //         color-stop(0.2, #FF7F00),
            //     //         color-stop(0.35, #FFFF00),
            //     //         color-stop(0.5, #00FF00),
            //     //         color-stop(0.65, #00FFFF),
            //     //         color-stop(0.8, #0000FF),
            //     //         to(#8B00FF));
            //     opacity-brush: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from(#c850ff), to(#c850ff00));
            // }

            // &.rarity_2 .RuneImage {
            //     // opacity-brush: gradient(linear, 0% 0%, 100% 50%, from(#0c92ff), to(#ffffff));
            //     opacity-brush: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from(#ff9900), to(#ff990000));
            // }

            // &.rarity_3 .RuneImage {
            //     // opacity-brush: gradient(linear, 0% 0%, 100% 10%, from(#ff0000), to(#b9dcff));
            //     opacity-brush: gradient(radial, 50% 50%, 0px 0px, 50% 50%, from(#ff0202), to(#ff7676));
            // }

            .RuneImage {
                horizontal-align: center;
                vertical-align: middle;
                width: 100%;
                height: 100%;
                // opacity-mask: url("file://{images}/custom_game/icon/test.png") 1;
                // background-image: url("file://{images}/custom_game/icon/test.png") ;
    
                opacity-mask-scale: 200%;
                brightness: 3;
                // img-shadow: 0px 0px 1px 1.0 #2d2dee;
            }

            .RunImageShwdow {
                width: 72px;
                height: 72px;
                transform: translateX(2px) translateY(2px);
                pre-transform-scale2d: 1.1;
                blur: gaussian(2);
                z-index: -1;
                // wash-color: #303030;
                wash-color: #000000;
            }


            .RuneBorder {
                width: 100%;
                height: 100%;
                // background-color: #585858;
            }

            .RuneIcon {
                width: 100%;
                height: 100%;
                margin: 1px;
                // opacity: 1;
                // opacity-mask: url("s2r://resource/flash3/images/items/rune/1.png");
                // -s2-mix-blend-mode: normal;
                // wash-color: #000000;
                // background-color: #ffffff;
            }

            .RuneDesc {
                horizontal-align: center;
                margin-top: 8px;
                // width: 148px;
                // height: 108px;
                font-size: 16px;
                // border: 1px solid #fff;
                padding: 12px;

                Label {
                    white-space: normal;
                    color: #efefef;
                }

                .GameplayVariable {
                    font-size: 18px;
                    font-weight: bold;
                    color: #585858;

                    .Separator {
                        font-size: 12px;
                        color: #4d5fc0;
                    }
                }


                .Current {
                    color: #ffe031;
                }
            }




        }
    }

    .RuneOptionBtn {
        // visibility: collapse;
        horizontal-align: right;
        vertical-align: middle;
        width: 87px;
        height: 87px;

        #RefreshBtn {
            width: 77px;
            height: 77px;
            horizontal-align: center;
            background-image: url("file://{images}/custom_game/hud/player_dialog/rune_refresh_btn.png");
            background-size: 100%;

            &:enabled {
                &:hover {
                    brightness: 2;
                }
            }

            &:disabled {
                saturation: 0.2;
                brightness: 0.2;
            }


        }

        Label {
            width: 24px;
            height: 24px;
            horizontal-align: center;
            vertical-align: bottom;
            padding: 1px;
            border: 2px solid #ccc;
            background-color: #00000033;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 2px;

        }
    }
}

.HeroState {
    flow-children: down;

    Label {
        horizontal-align: center;
        font-size: 16px;
        text-shadow: 0px 0px 2px 4.0 #000;

    }

    .Health {
        color: #00ff00;

    }

    .Mana {
        color: #ffe031;
    }
}