.player_dialog {
    width: 100%;
    height: 100%;
}

.DialogContainer {
    width: 100%;
    height: 100%;
}

.PlayerRevivePanel {
    width: 233px;
    height: 47px;
    background-image: url("file://{images}/custom_game/hud/player_dialog/revive_border.png");
    // revive_border
}

#LocalPlayerRuneDialog {
    opacity: 0;
    flow-children: down;

    &.Show {
        opacity: 1;
    }

    .Header {
        width: 164px;
        height: 36px;
        background-image: url("file://{images}/custom_game/hud/player_dialog/rune_select_timer.png");
        horizontal-align: center;
    }

    .Content {
        width: 644px;
        height: 212px;
        background-image: url("file://{images}/custom_game/hud/player_dialog/rune_select_dialog.png");
        background-repeat: no-repeat;
        border: 1px solid #ffffff;
    }

    .SelectCountdownTimer {
        align: center center;
        font-size: 24px;
        color: #ff5252;
        padding: 4px;
        text-align: center;

    }

    #RuneSelectList {
        border: 1px solid #fff;
        horizontal-align: center;
        // vertical-align: top;
        // height: 300px;
        // vertical-align: middle;
        flow-children: right;
        // margin-bottom: 56px;

        .RuneInfo {
            // border: 1px solid #ffffff;
            flow-children: down;
            border: 1px solid #973030;

            padding: 4px;
            // margin: 0px 8px;

            #RuneIconBtn {
                width: 64px;
                height: 64px;
                border: 2px solid #fff;
                background-color: #000;
                box-shadow: #000000ff 0px 0px 8px 0px;
                horizontal-align: center;

                &:hover {

                    box-shadow: #fde403aa 0px 0px 8px 0px;


                }
            }

            .RuneDesc {
                width: 148px;
                height: 128px;
                font-size: 16px;
                border: 1px solid #fff;
                padding: 2px;
// white-space: nowrap;
                Label {
                    white-space: normal;
                    color: #efefef;
                }

                .GameplayVariable {
                    font-size: 18px;
                    font-weight: bold;
                    color: #585858;

                    .Separator {
                        font-size: 12px;
                        color:#4d5fc0;
                    }
                }

                
                .Current {
                    color: #ffe031;
                }
            }




        }
    }

    .RuneOptionBtn {
        // visibility: collapse;
        horizontal-align: right;
        vertical-align: middle;
        width: 87px;
        height: 87px;

        #RefreshBtn {
            width: 77px;
            height: 77px;
            horizontal-align: center;
            background-image: url("file://{images}/custom_game/hud/player_dialog/rune_refresh_btn.png");
            background-size: 100%;

            &:enabled {
                &:hover {
                    brightness: 2;
                }
            }

            &:disabled {
                saturation: 0.2;
                brightness: 0.2;
            }


        }

        Label {
            width: 24px;
            height: 24px;
            horizontal-align: center;
            vertical-align: bottom;
            padding: 1px;
            border: 2px solid #ccc;
            background-color: #00000033;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 2px;

        }
    }
}