@import url("./../../../_styles/variables/_variables.less");
@import url("./../../../_styles/custom/rare_label.less");


.mystical_shop {
    width: 100%;
    height: 100%;
    z-index: 3;

    &.Show {

        #MysticalShop,
        #OpenButton {
            visibility: visible;
        }

    }

}

#OpenButton {
    width: 237px;
    height: 52px;
    horizontal-align: center;
    // border: 1px solid #ffffff;
    margin-bottom: 132px;
    vertical-align: bottom;
    visibility: collapse;
    // 
    background-image: url("file://{images}/custom_game/hud/mystical_shop/btn_toggle.png");
    background-size: 100%;

    Label {
        align: center center;
        font-size: 22px;
        color: #ffffff;
        text-shadow: 0px 0px 2px 2.0 #000000;
    }

    &:hover {
        brightness: 1.5;
    }

    &:active {
        pre-transform-scale2d: 0.9;
        brightness: 0.9;
    }
}

#MysticalShop {
    // height: 944px;
    // border: 1px solid #ffffff;
    horizontal-align: center;
    // margin-top: 30px;
    visibility: collapse;
    transition-property: pre-transform-scale2d, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    pre-transform-scale2d: 0.5;
    overflow: noclip;

    &.Open {
        opacity: 1;
        pre-transform-scale2d: 1;
    }



    .TitleImg {
        width: 339px;
        height: 134px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/title.png");
        horizontal-align: center;
        margin-top: 20px;
    }


    .ShopContainer {
        margin-top: 100px;
        width: 1399px;
        height: 744px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/bg.png");
        background-size: 100%;
        // margin-top: 20px;

        // flow-children: down;
        // border: 1px solid #0f0;

        .ShopBody {
            margin-top: 56px;
            width: 100%;
            height: 100%;
            // border: 1px solid #ffffff;
            flow-children: right;
            overflow: noclip;
        }
    }


    #ReadyBtn {
        width: 133px;
        height: 220px;
        // border: 1px solid #ffffff;
        vertical-align: bottom;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/ready_btn1.png");
        horizontal-align: right;
        transition-property: wash-color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        transform: translateY(48px);
        // brightness: 2;
        // wash-color: #cccccc;
        // animation-name: flash;
        // animation-duration: 1.4s;
        // animation-iteration-count: infinite;

        &:enabled {
            &:hover {
                // wash-color: #ffffff;
                // animation-name: none;
                brightness: 2;
            }

            &:active {
                pre-transform-scale2d: 0.9;
                brightness: 0.9;
                // 
            }
        }

        &:disabled {
            background-image: url("file://{images}/custom_game/hud/mystical_shop/ready_btn2.png");
        }

    }

    .CountdownTimer {
        horizontal-align: center;
        // border: 1px solid #ffffff;
        // margin-right: 48px;
        margin-top: 56px;
        flow-children: right;

        .Title {
            width: 120px;
            font-size: 16px;
            text-shadow: 0px 0px 2px 4.0 #000000;
            text-align: right;
        }

        .Timer {
            font-weight: bold;
            width: 48px;
            margin-left: 8px;
            font-size: 24px;
        }

        Label {
            color: #50db5a;
            vertical-align: bottom;
        }
    }
}

#ShopItemList {
    margin-left: 40px;
    // border: 1px solid #f00;
    margin-top: 40px;
    width: (272px + 40px) * 3;
    // horizontal-align: center;
    // border: 1px solid #f00;
    flow-children: right;

    // pre-transform-scale2d: 2;

}

.ShopItem {
    // flow-children: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    // overflow: noclip;
    // border: 1px solid #fff;
    // 


    // background-size: 100%;
    // padding: 12px;

    &.IsLimit {

        .LimitTag,
        #LimitStar {
            visibility: visible;
        }

        .ItemCardBorder {
            background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_card_border.png");
        }

        .CardHover {
            background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_card_hover.png");
        }

    }

    .ItemCardBorder {
        horizontal-align: center;
        width: 272px;
        height: 583px;
        // border: 1px solid #f00;
        background-repeat: no-repeat;
        z-index: -2;
        transition-property: pre-transform-scale2d;
        transition-duration: 0.1s;
        pre-transform-scale2d: 1;
        // transform: translateY(20px);
        background-image: url("file://{images}/custom_game/hud/mystical_shop/item_card_border.png");
    }

    &.IsBuy {

        .ItemCardBorder {
            brightness: 0.8;
            saturation: 0.1;
            wash-color: #ffffff;
        }

        #ShopItemCard {
            brightness: 0.8;
            saturation: 0.1;
        }

        &.limit_up .LimitUp {
            visibility: collapse;
        }
    }

    #ShopItemCard {
        z-index: -1;
        width: 272px;
        height: 583px;
        pre-transform-scale2d: 1;


    }


    &.rare_2 {

        .ItemCardBorder {
            wash-color: fade(@rarity_color_2, 85%);
        }

        .ItemName {
            color: @rarity_color_2
        }
    }

    &.rare_3 {

        .ItemCardBorder {
            wash-color: fade(@rarity_color_3, 85%);
        }

        .ItemName {
            color: @rarity_color_3
        }
    }

    &.rare_4 {

        .ItemCardBorder {
            wash-color: fade(@rarity_color_4, 85%);
        }

        .ItemName {
            color: @rarity_color_4
        }
    }

    &.rare_5 {
        .ItemCardBorder {
            wash-color: fade(@rarity_color_5, 85%);
        }

        .ItemName {
            color: @rarity_color_5
        }
    }

    &.rare_6 {
        .ItemCardBorder {
            wash-color: fade(@rarity_color_6, 85%);
        }

        .ItemName {
            color: @rarity_color_6
        }
    }

    #PurchaseBtn {
        height: 100%;
        horizontal-align: center;
        margin-top: 24px;
        flow-children: down;
    }

    #LimitStar {
        margin-top: 12px;
        visibility: collapse;
        horizontal-align: center;
    }

    .ItemName {
        margin-top: 20px;
        horizontal-align: center;
        font-size: 20px;
        // color: #dbe4e8;
        text-shadow: 0px 0px 2px 2.0 #000000;
        vertical-align: bottom;
        // margin-bottom: 20px;

    }

    #ShopItemInfo {
        horizontal-align: center;
        width: 100%;
        height: 100%;
        // border: 1px solid #0f0;

        #ItemIcon {
            margin-top: 2px;
            width: 58px;
            height: 58px;
            // border: 1px solid #ffffff;
            // background-color: #000000;
            // box-shadow: #000000 0px 0px 4px 0px;
            horizontal-align: center;
        }





        .ItemDesc {
            margin-top: 8px;
            width: 200px;
            // height: 100px;
            // color: #c0c0c0;
            font-size: 18px;
            horizontal-align: center;
            padding: 4px;


            // border: 1px solid #ffffff;
        }

        .GameplayVariable {
            color: #00ff00;
        }

        .ItemPrice {
            // margin-top: 8px;
            margin-bottom: 90px;
            vertical-align: bottom;
            horizontal-align: center;
            flow-children: right;

            .PriceIcon {
                width: 32px;
                height: 34px;
                background-image: url("file://{images}/custom_game/hud/mystical_shop/price_icon.png");

            }


        }
    }

    .CardHover {
        width: 272px;
        height: 583px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/item_card_border_hover.png");
        opacity: 0;
        // border: 1px solid #ffffff;
    }

    &.limit_up .LimitUp {
        visibility: visible;
    }

    .LimitUp {
        width: 71px;
        height: 66px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_up.png");
        horizontal-align: right;
        margin-top: 16px + 16px;
        margin-right: 16px;
        visibility: collapse;
    }

    .LimitTag {
        width: 90px;
        height: 83px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_tag.png");
        // background-size: 100%;
        margin-top: 32px;
        margin-left: 20px;
        visibility: collapse;
    }

    .ItemLockState {
        height: 38px;
        width: 196px;
        background-color: #000000;
        vertical-align: middle;
        horizontal-align: center;
        visibility: collapse;

        Label {
            align: center center;
            font-size: 18px;
            color: #ffffff;
        }

    }


    #LockBtn {
        width: 86px;
        height: 86px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/lock_s1.png");
        // border: 1px solid #ffffff;
        // margin-top: 20px;
        horizontal-align: center;
        vertical-align: bottom;

        &:disabled {
            saturation: 0.25;
            brightness: 0.25;
        }

        &:enabled {

            &:hover {
                background-image: url("file://{images}/custom_game/hud/mystical_shop/lock_s2.png");
            }

            &:active {
                background-image: url("file://{images}/custom_game/hud/mystical_shop/lock_s3.png");
            }
        }

    }

    &.IsVip {
        saturation: 0.3;
        brightness: 0.3;

        .PrivilegeLock {
            visibility: visible;
        }
    }

    &.IsLock {

        #ShopItemCard {
            brightness: 0.3;
            saturation: 0.1;
        }

        .ItemLockState {
            visibility: visible;
        }
    }

    &.Enabled {

        &:hover {
            .CardHover {
                opacity: 1;
            }
        }

        // &:active {
        //     pre-transform-scale2d: 0.9;
        // }

        #ShopItemCard {
            saturation: 1;
            brightness: 1;

            &:hover {
                .CardHover {
                    opacity: 1;
                }

                // pre-transform-scale2d: 0.9;
            }

            &:active {
                pre-transform-scale2d: 0.9;
            }
        }



    }
}

.ItemCost {
    margin-left: 4px;
    vertical-align: middle;
    color: #ff0000;
    font-size: 19px;
}

.is_enough .ItemCost {
    color: #ffffff;
}

#PopupModal {
    width: 100%;
    height: 100%;
    background-color: #00000099;
    opacity: 0;
    visibility: collapse;

    &.Open {
        opacity: 1;
        visibility: visible;
    }

    #PurchaseConfirm {
        align: center center;
        margin-bottom: 100px;
        width: 422px;
        height: 183px;
        flow-children: none;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/purchase_popup.png");

        // 
        .PopupContent {
            // width: 100%;
            horizontal-align: center;
            vertical-align: middle;
            margin-bottom: 50px;
            flow-children: right;

            Label {
                horizontal-align: center;
                text-align: center;
                font-size: 20px;
                // color: #ffffff;
            }
        }

        .PopupFooter {
            width: 100%;
            // border: 1px solid #ffffff;
            vertical-align: bottom;
            margin-bottom: 20px;

            .ButtonGroup {
                horizontal-align: center;
                flow-children: right;

                >Button {
                    margin-left: 8px;
                    margin-right: 8px;

                    &:hover {
                        brightness: 1.5;
                    }

                    &:active {
                        brightness: 0.8;
                        pre-transform-scale2d: 0.95;
                    }

                    Label {
                        align: center center;
                        color: #ffffff;
                        font-size: 18px;
                        text-shadow: 0px 0px 2px 2.0 #000000;
                        margin-bottom: 4px;
                    }
                }
            }

            #BtnConfirm {
                width: 111px;
                height: 39px;
                background-image: url("file://{images}/custom_game/hud/mystical_shop/btn_confirm.png");
            }

            #BtnCancel {
                width: 111px;
                height: 39px;
                background-image: url("file://{images}/custom_game/hud/mystical_shop/btn_cancel.png");
            }
        }

    }
}

@keyframes flash {
    0% {
        brightness: 0.5;
    }

    50% {
        brightness: 2;
    }

    100% {
        brightness: 0.5;
    }
}

.ExtremePropsContainer {
    margin-left: 88px;
    flow-children: down;
    overflow: noclip;
    transform: translateY(-44px);

    .LimitTitle {
        width: 254px;
        height: 96px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_title.png");

    }
}

#ExtremePropsList {
    flow-children: down;

    .ExtremePropsRows {
        // width: 200px;
        width: 294px;
        height: 98px;
        // margin-top: 4px;
        // margin-bottom: 4px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_item_border.png");
        // border: 1px solid #ffffff;


        .Content {
            width: 100%;
            height: 100%;
            flow-children: right;
        }


        &.Null {

            .Lock,
            .Content {
                visibility: collapse;
            }
        }

        &.IsLock {
            .Lock {
                visibility: visible;
            }

            .Content {
                visibility: collapse;
            }
        }

        &.IsVip {
            background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_item_border_vip.png")
        }

        .Lock {
            horizontal-align: center;
            vertical-align: middle;
            width: 57px;
            height: 57px;
            background-image: url("file://{images}/custom_game/hud/mystical_shop/limit_lock.png");
            visibility: collapse;
            // border: 1px solid #fff;
        }

        .ItemIcon {
            margin-left: 24px;
            width: 64px;
            height: 64px;
            vertical-align: middle;
        }

        .LimitItemInfo {
            // width: 140px;
            height: 64px;
            margin-left: 8px;
            vertical-align: middle;
            flow-children: down;

            Label {
                font-size: 18px;
            }

            #ItemStar {
                margin-top: 8px;
            }
        }
    }
}

.ExtremePropsRightContent {
    margin-top: 160px;

    horizontal-align: right;
    flow-children: down;
    vertical-align: bottom;
    margin-bottom: 115px;

    .Title {
        width: 65px;
        height: 31px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/nav/title.png");
        // 
    }

    .ItemList {
        background-image: url("file://{images}/custom_game/hud/mystical_shop/nav/nav_bg.png");
        width: 68px;
        height: 359px;
        // border: 1px solid #fff;
    }

    #LocalExtremePropsList {
        flow-children: down;
        horizontal-align: center;
        vertical-align: middle;
        margin-left: 4px;

        .NavLimitItem {
            horizontal-align: center;
            width: 52px;
            height: 52px;
            margin-top: 2px;
            margin-bottom: 2px;

            background-image: url("file://{images}/custom_game/hud/mystical_shop/nav/item_border.png");
            background-size: 100%;

            &.IsVip {
                background-image: url("file://{images}/custom_game/hud/mystical_shop/nav/item_border2.png");
            }

            &.IsLock .NavLock {
                visibility: visible;
            }

            .NavLock {
                horizontal-align: center;
                vertical-align: middle;
                width: 37px;
                height: 37px;
                background-image: url("file://{images}/custom_game/hud/mystical_shop/nav/nav_lock.png");
                visibility: collapse;
            }
        }

        .PropItem {
            width: 64px;
            height: 64px;
        }
    }
}

.RefreshPanel {
    flow-children: down;
    horizontal-align: right;
    vertical-align: middle;
    margin-top: 60px;
    // transform: translateX(30px);

    .RefreshCostLabel {
        flow-children: right;
        horizontal-align: center;

        .CostIcon {
            width: 24px;
            height: 24px;
            background-image: url("file://{images}/custom_game/hud/mystical_shop/price_icon.png");
            background-size: 100%;
            vertical-align: middle;
        }

        Label {
            font-size: 18px;
            vertical-align: middle;
        }
    }

    #RefreshShopBtn {
        width: 125px;
        height: 120px;
        background-image: url("file://{images}/custom_game/hud/mystical_shop/refresh_on.png");

        &:enabled {
            &:hover {
                brightness: 2;
            }

            &:active {
                pre-transform-scale2d: 0.9;
            }
        }

        &:disabled {
            background-image: url("file://{images}/custom_game/hud/mystical_shop/refresh_off.png");
        }

        .ResreshCountLabel {
            font-size: 16px;
            vertical-align: bottom;
            horizontal-align: center;
            margin-bottom: 4px;
        }
    }
}

.ShopCurrencyBorder {
    // border: 1px solid #fff;
    width: 160px;
    horizontal-align: right;
    margin-top: 130px;
    margin-right: 64px;

    .GoldIcon {
        width: 32px;
        height: 32px;
        background-image: url("file://{images}/custom_game/icon/resource/gold.png");
        background-size: 100%;
    }

    .GoldBorder {
        width: 100%;
        border: 1px solid #333;
        background-color: #00000099;
        vertical-align: middle;
        padding: 2px;
        margin-left: 12px;

        Label {
            margin-left: 22px;
            font-size: 16px;
        }
    }
}