.Icon {

    &.Soul {
        background-image: url("file://{images}/custom_game/icon/resource/soul.png");
    }
}


#AbilityHaste .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AbilityHaste.png");
}

#AllElementDamageBonus .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AllElementDamageBonus.png");
}

#AllElementPent .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AllElementPent.png");
}

#AllElementResist .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AllElementResist.png");
}

#AttackDamage .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AttackDamage.png");
}

#AttackRange .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AttackRange.png");
}

#AttackSpeed .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/AttackSpeed.png");
}

#CriticalChance .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/CriticalChance.png");
}

#CriticalDamage .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/CriticalDamage.png");
}

#DamageBonusMul .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/DamageBonusMul.png");
}

#FinalDamageMul .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/FinalDamageMul.png");
}

#MaxHealth .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/MaxHealth.png");
}

#MaxMana .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/MaxMana.png");
}

#MoveSpeed .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/MoveSpeed.png");
}

#PhyicalArmor .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/PhyicalArmor.png");
}

#PickItemRadius .StatIcon {
    background-image: url("file://{images}/custom_game/icon/attribute/PickItemRadius.png");
}