@import url("./../../../_styles/variables/_variables.less");
// @import url("./../../../_styles/keyframes.less");

#OverheadBarContainer,
.health_bar {
    width: 100%;
    height: 100%;
}

#TopHealthBarContent {
    border: 1px solid;
    horizontal-align: center;



}

.TopHealthBar {
    margin-top: 80px;

    #PortraitContent {
        // border: 1px solid #ffffff;

        .PortraitBg {
            width: 141px;
            height: 144px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/boss_portrait_bg_1.png");
            align: center center;
        }

        .PortraitRune {
            width: 136px;
            height: 131px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/boss_portrait_rune_1.png");
            align: center center;

            animation-name: rotate_z;
            animation-duration: 7s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .PortraitIcon {
            width: 128px;
            height: 142px;
            align: center center;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/boss_portrait_icon_1.png");
        }


    }

    #HealthBarInfo {
        margin-left: 80px;
        vertical-align: middle;
        // border: 1px solid #ffffff;
        flow-children: down;
        // width: 814px;
        // height: 128px;
        background-image: url("file://{images}/custom_game/hud/health_bar/top_health/boss_health_bg.png");
        background-repeat: no-repeat;
        background-position: 0% 100%;

        .BossLabel {
            width: 100%;
            margin-left: 60px;

            .BossHpCount {
                horizontal-align: right;
                margin-right: 32px;
            }

            Label {
                font-size: 32px;
                font-weight: bold;
                color: #ffffff;
                text-shadow: 0px 0px 3px 3.0 #000000;
                transform: skewX(-10deg);
                font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim;
            }
        }
    }



    .HealthBarPanel {
        width: 840px;
        // margin-left: 30px;
        // visibility: collapse;
        // 血条底
        .HudHeathBarProgressBar {
            // margin-left: 16px;
            horizontal-align: center;
            // border: 1px solid #ffffff;
            width: 768px;
            height: 47px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/top_hpbar_bg.png");
            transform: skewX(-30deg);
        }

        .HealthbarLabel {
            align: center center;
            font-size: 22px;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0px 0px 2px 2.0 #000000;
        }

        .HealthBar {
            width: 784px;
            height: 36px;
            background-repeat: no-repeat;
            vertical-align: middle;
            // opacity: 0.5;
            margin-bottom: 4px;


        }

        #HudHeathBar_0 {
            width: 761px;
            height: 36px;
            background-repeat: no-repeat;
            vertical-align: middle;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/top_hpbar_hud.png");
            // wash-color: #6bc720;

            .Screen {
                width: 100%;
                height: 100%;
                
                // color: #2c0000;
                // background-color: gradient(linear, 0% 0%, 100% 0%, from(#ff4800), to(#42b61f));
                // -s2-mix-blend-mode: screen;
            }
        }

        #HudHeathBar_1 {
            width: 761px;
            height: 36px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/top_hpbar_hud.png");
            background-repeat: no-repeat;
            transition-property: width;
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
            opacity: 0.8;
            saturation: 0;
            brightness: 6;

            &.DisTransition {
                transition-duration: 0s;
            }
        }

        #HudHeathBar_2 {
            width: 384px;
            height: 36px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/top_hpbar_hud.png");
            background-repeat: no-repeat;
            vertical-align: middle;
            overflow: clip;

            // .Screen {
            //     width: 761px;
            //     height: 36px;
            //     background-color: gradient(linear, 0% 0%, 100% 0%, from(#ff4800), to(#42b61f));
            //     opacity: 0.5;
            //     // -s2-mix-blend-mode: screen;
            // }

        }

    }

    #HealthBarProgressBar {


        visibility: collapse;


        #HealthBarHUD {
            width: 100%;
            height: 100%;
            // background-color: #ffffff;
            // horizontal-align: right;
            background-color: gradient(linear, 0% 0%, 100% 0%, from(#ff8b1e), to(#c40000));
            opacity-mask: url("file://{images}/custom_game/hud/health_bar/top_health/boss_health_bar_hud.png");
            // wash-color: #ff6b6b;
            // -s2-mix-blend-mode: screen;
        }
    }




}


.AttributeList {
    margin-top: 4px;
    margin-left: 30px;
    margin-bottom: 4px;
    flow-children: right;

    .AttributeRows {
        flow-children: right;
        margin-left: 24px;

        .Icon {
            width: 20px;
            height: 19px;
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/attr_1.png");
        }

        &.att2 .Icon {
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/attr_2.png");
        }

        &.att3 .Icon {
            background-image: url("file://{images}/custom_game/hud/health_bar/top_health/attr_3.png");
        }

        Label {
            margin-left: 2px;
            color: #bcbcbc;
            font-size: 18px;
        }
    }

}

.OverheadBar {
    // width: 178px;
    // height: 48px;
    // background-color: #ff4343;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    flow-children: down;

    Label {
        font-size: 22px;
        text-shadow: 0px 0px 0px 2.5 #603800;
        color: gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f7f4f0));
        text-align: center;
    }

    .Title {
        width: 100%;
    }

    .headBarPanel {
        width: 280px;
        background-color: #000000;

        #HealthBar0 {
            width: 100%;
            height: 11px;
            background-color: rgb(255, 255, 255);
            // opacity-mask: url("s2r://panorama/images/custom_game/npc_frame/boss_hp_bar_png.vtex");
            transition-property: width;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }

        #HealthBar {
            width: 50%;
            height: 11px;
            background-color: #ff0000;
            // background-image: url("s2r://panorama/images/custom_game/npc_frame/boss_hp_bar_png.vtex");
            background-repeat: no-repeat;
        }
    }
}