.root {
    width: 100%;
    height: 100%;
}

@keyframes my_test {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


#MoveControll {
    horizontal-align: center;
    vertical-align: middle;
    border: 1px solid #000000;
}

#InputButton {
    width: 200px;
    height: 32px;
}
