@import url("./../../_styles/variables/_rare.less");
@import url("./../../_styles/variables/_variables.less");

@width: 345px;

#Contents {
    padding: 0px;
    border: 0px solid #00000000;
    background-color: #00000000;
    box-shadow: none;

    &.Tooltip {
        background-color: #00000000;
        background-repeat: no-repeat;
        background-position: left top;
        padding: 0px;
    }
}

.TooltipContent {
    width: 100%;
    min-height: 290px;
    // height: 420px;
    flow-children: down;
    // padding-bottom: 64px;
    // border: 1px solid #ffffff;
}

.tooltip_ability {
    width: @width;

    .Background {
        width: 100%;
        height: 100%;
        flow-children: down;
        // padding-bottom: 130px;
    }

    .Header {
        width: 100%;
        height: 100%;
        flow-children: down;



        .Mid {
            width: @width;
            height: 100%;
            background-image: url("file://{images}/custom_game/tooltip/ability/tips_bg.png");
            // border: 1px solid #7c94ff;
            margin-bottom: 12px;
        }
    }

    .Top {
        width: @width;
        height: 155px;
        background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_1.png");
        // border: 1px solid #bcffaf;
    }

    .Bot {
        width: @width;
        height: 132px;
        background-image: url("file://{images}/custom_game/tooltip/ability/tips_bot.png");
        vertical-align: bottom;
        // border: 1px solid #ff1919;
    }

    #AbilityElement {
        vertical-align: middle;
        flow-children: right;
        overflow: noclip;

        .ElementIcon {
            width: 35px;
            height: 35px;
            background-size: 100%;
            visibility: collapse;
            img-shadow: 0px 0px 2px 1.0 #2020202f;
        }

        &.fire .element_1,
        &.ice .element_2,
        &.thunder .element_3,
        &.wind .element_4,
        &.light .element_5,
        &.dark .element_6 {
            visibility: visible;
        }
    }

    .AbilityNameLabel {
        font-size: 22px;
        color: @rarity_color_1;
        text-shadow: 0px 0px 2px 2.0 #000000;
        vertical-align: middle;
    }

    &.rarity_2 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_2.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_2;
        }
    }

    &.rarity_3 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_3.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_3;
        }
    }

    &.rarity_4 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_4.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_4;
        }
    }

    &.rarity_5 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_5.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_5;
        }
    }

    &.rarity_6 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_6.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_6;
        }
    }

    &.rarity_7 {
        .Top {
            background-image: url("file://{images}/custom_game/tooltip/ability/header/rare_7.png");
        }

        .AbilityNameLabel {
            color: @rarity_color_7;
        }
    }

    &.element_1 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_1.png");
    }

    &.element_2 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_2.png");
    }

    &.element_3 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_3.png");
    }

    &.element_4 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_4.png");
    }

    &.element_5 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_5.png");
    }

    &.element_6 .AbilityElement {
        background-image: url("file://{images}/custom_game/icon/element/sm_6.png");
    }
}

#AbilityHeader {
    width: 100%;
    height: 102px;
    // padding: 18px;
    flow-children: right;
    // border: 1px solid #ffffff;

    .AbilityImagePanel {
        margin-left: 26px;
        width: 68px;
        height: 68px;
        border: 2px solid @rarity_color_1;
        vertical-align: middle;

        .AbilityIcon {
            width: 100%;
            height: 100%;
            margin: 0px;
        }
    }

    .AbilityLabel {
        width: 100%;
        margin-left: 12px;
        flow-children: down;
        vertical-align: middle;

        .AbilityName {
            width: 100%;
            height: 24px;
            flow-children: right;





            .AbilityLevel {
                horizontal-align: right;
                vertical-align: middle;
                color: #ffffff;
                font-size: 18px;
                margin-right: 28px;
            }
        }



        #CurrentItemCosts {
            flow-children: right;
        }

        .Icon {
            width: 14px;
            height: 14px;
            vertical-align: middle;

            &.Cooldown {
                background-image: url("file://{images}/custom_game/tooltip/ability/cooldown.png");
            }

            &.Mana {
                background-image: url("file://{images}/custom_game/tooltip/ability/mana_cost.png");
            }

            &.Health {
                wash-color: #ff0000;
                background-image: url("file://{images}/custom_game/tooltip/ability/mana_cost.png");
            }
        }

        .CostsRows {
            flow-children: right;
            margin-left: 4px;
            margin-right: 4px;

            Label {
                margin-left: 2px;
                vertical-align: middle;
                font-size: 18px;
                color: #ffffff;
            }
        }
    }
}

#AbilityCoreDetails {
    width: 100%;
    margin-top: 8px;
    flow-children: down;

    #DescriptionContainer {
        width: 100%;
        flow-children: down;

        .DescriptionLabel {
            width: 100%;
            font-size: 17px;
            color: #b9b9b9;
            padding: 8px 16px;
        }

        .Variable,
        .GameplayVariable {
            // font-size: 20px;
            // font-weight: bold;
            color: #747474;
        }

        .OtherVariable {
            color: #5c5c5c;
        }

        .Current {
            color: #ffde4b;
            // color: #ffffff;
        }

        .negative {
            color: #ff0000;
        }

        .AttributeVar {
            font-size: 19px;

        }
    }

    #TalentAbilityExtra {
        width: 100%;
        flow-children: down;
        padding: 12px;
    }

    .ExtraAbility {
        width: 100%;
        flow-children: down;
        margin-top: 8px;
        // padding: 0px 8px;

        &.IsAbility {
            // border: 1px solid #00ff00;
            margin-bottom: 8px;

            .ExtraHeader {
                height: 41px;
                background-image: url("file://{images}/custom_game/tooltip/ability/extra_header_1.png");
                background-repeat: no-repeat;
                // background-color: #184418;
            }

            .TalentIcon {
                visibility: visible;
            }

            .Title {
                font-size: 22px;
            }

        }



        .ExtraHeader {
            width: 100%;
            padding: 4px 8px;
            flow-children: right;
            height: 29px;
            background-image: url("file://{images}/custom_game/tooltip/ability/extra_header_2.png");
            background-repeat: no-repeat;
        }

        .TalentIcon {
            width: 28px;
            height: 28px;
            visibility: collapse;
            vertical-align: middle;
            border: 1px solid #000000;
            background-color: rgb(162, 178, 195);
            padding: 1px;
            border-radius: 4px;
        }

        #TalentIcon {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }

        .Title {
            margin-left: 4px;
            font-size: 18px;
            color: #ffffff;
            text-shadow: 0px 0px 2px 3.0 #000000;
            vertical-align: middle;
        }

        .Level {
            margin-left: 4px;
            font-size: 18px;
            color: #ffffff;
            text-shadow: 0px 0px 2px 3.0 #000000;
            vertical-align: middle;
        }

        .ExtraDescription {
            width: 100%;
            // margin-top: 2px;
            background-image: url("file://{images}/custom_game/tooltip/ability/extra_label_bg.png");
            padding: 8px;

            Label {
                font-size: 18px;
                color: #ffffff;
            }

            // wash-color: #ebbf31;

            .Current {
                color: #ffde4b;
            }
        }
    }




}


.BottomlBank {
    width: 100%;
    height: 32px;
}

#ComboContainer {
    margin-top: 8px;
    horizontal-align: center;
    width: 308px;
    background-image: url("file://{images}/custom_game/tooltip/ability/combo_separator.png");
    background-repeat: no-repeat;
    flow-children: down;
    // padding-top: 24px;

    .ArmsCombieRows {
        margin-top: 16px;
        flow-children: down;

        .CombieTitle {
            font-size: 17px;
            color: #fff175;
            text-shadow: 0px 0px 2px 2.0 #000000;
        }

        .CombieAbilityRequire {
            margin-top: 4px;
            font-size: 15px;
            color: #666666;
        }

        .on {
            color: #cae0f3;
            // color: #ffffff;
        }

        .off {
            color: #666666;
        }

        .CombieAbilityDesc {
            color: #00ff00;
            visibility: collapse;
        }

        .hover {
            font-size: 16px;
            color: #7cff7c;
            font-weight: bold;
        }

        &.is_activate .CombieAbilityDesc {
            visibility: visible;
        }
    }
}

.TypeLabel {
    visibility: collapse;
    &.Show {
        visibility: visible;
    }
}

#AbilityCategoryType {
    // height: 24px;
    flow-children: right-wrap;
    // border: 1px solid #ffffff;

    &.Targeting .Targeting,
    &.Surround .Surround,
    &.Summon .Summon,
    &.Resource .Resource,
    &.Orb .Orb,
    &.Missile .Missile,
    &.Grow .Grow,
    &.Dot .Dot,
    &.Buff .Buff,
    &.Aoe .Aoe {
        visibility: visible;
    }
}

.blood_mage {
    #ManaCost {
        visibility: collapse;
    }

    #HealthCost {
        visibility: visible;
    }
}

#HealthCost {
    visibility: collapse;
}

// ss=\"GameplayVariable \"