@import url("./../../common/styles.less");

#Contents {
    padding: 0px;
    border: 0px solid #00000000;
    background-color: #00000000;
    box-shadow: none;

    &.Tooltip {
        background-color: #00000000;
        background-repeat: no-repeat;
        background-position: left top;
        padding: 0px;
    }
}

#CustomTooltipAbility {
    width: 380px;
    flow-children: down;
    border: 2px solid #000000;
    // border-radius: 6px;
    // background-image: url("file://{images}/custom_game/hero_choose/border_background.png");
    background-image: url("file://{images}/custom_game/tooltip/text_tooltip_body.png");
    background-size: 100%;
    background-color: #000000fa;
    // border: 1px solid #3a3a3a;
    // padding: 8px;

    Label {
        font-size: 18px;
        color: #ffffff;
        // text-shadow: 0px 1px 1px 2.0 #000000;
    }

    &.rarity_2 #AbilityHeader {
        background-color: @rare2_background;
    }

    &.rarity_3 #AbilityHeader {
        background-color: @rare3_background;
    }

    &.rarity_4 #AbilityHeader {
        background-color: @rare4_background;
    }

    &.rarity_5 #AbilityHeader {
        background-color: @rare5_background;
    }

    &.rarity_6 #AbilityHeader {
        background-color: @rare6_background;
    }

    &.rarity_7 #AbilityHeader {
        background-color: @rare7_background;
    }

    &.rarity_8 #AbilityHeader {
        background-color: @rare8_background;
    }

    #AbilityHeader {
        width: 100%;
        padding: 8px;
        background-image: url("file://{images}/custom_game/tooltip/text_tooltip_header.png");
        background-size: 100%;
        background-color: @rare1_background;
        border-bottom: 1px solid @rare1_border;
        // background-color: #36af26;
        // background-color: gradient(linear, 0% 0%, 100% 0%, from(#36af26), to(#00000000));
        // background-image: url("file://{images}/custom_game/tooltip/text_tooltip_body.png");


        .AbilityImage {
            width: 64px;
            height: 64px;
            border: 2px solid #000000;
        }

        .AbilityLabel {
            width: 100%;
            // background-color: #5f5f5f;
            margin-left: 6px;
            vertical-align: middle;
            // height: 64px;
            flow-children: down;

            .NameAndCost {
                width: 100%;
                height: 32px;
                flow-children: right;
                vertical-align: middle;

                .AbilityName {
                    vertical-align: middle;

                }

                .AbilityNameLabel {
                    vertical-align: middle;
                    font-size: 23px;
                    text-overflow: clip;
                    font-family: defaultFont;
                    text-shadow: 0px 0px 2px 3.0 #000000;
                }
            }


        }


        #AbilityLevel {
            min-width: 56px;
            vertical-align: middle;
            horizontal-align: right;

            Label {
                text-shadow: 0px 0px 2px 2.0 #000000;
            }

        }
    }

    #CurrentItemCosts {
        horizontal-align: right;

        //margin-top: 6px;
        // padding-top: 8px;
        // padding-bottom: 0px;
        Label {
            text-overflow: shrink;
            text-shadow: 2px 2px 0px 1.0 #00000088;
            color: #ffffff;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            font-size: 16px;
            font-weight: semi-bold;
            padding-left: 25px;
            margin-right: 20px;
        }

        #Cooldown {
            background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
        }

        #ManaCost {
            background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
        }
    }

    #AbilityTarget {
        width: 100%;
        margin-top: 8px;
        margin-left: 8px;
        margin-right: 8px;
        padding-bottom: 8px;
        border-bottom: 2px solid #5f5f5f;
        // background-color: #1f1f1f;
        // border: 2px solid #000000;
        // border-radius: 8px;
        // padding: 4px;

        Label {
            color: #ffffff;
        }
    }

    #AbilityCoreDetails {
        width: 100%;
        padding: 8px;

        .DescriptionLabel {
            color: #78949b;

            .negative {
                color: #ff0000;
            }

            .FormulaKey {
                color: #ffab2d;
            }

            .FormulaValue {
                color: #ffffff;
            }

            .key {
                color: #e4e4e4;
            }

            .disable {
                color: #838383;
            }

            .enable {
                color: #00fc00;
            }

            .LevelUpTips {
                color: #f0a80d;
            }

            .off {
                color: #5f5f5f;
            }

            .on {
                color: #ecca0d;
            }

        }

        .GameplayVariable {
            font-size: 22px;
            font-weight: bold;
            color: #ffffff;
        }


    }


    #ComboContainer {
        width: 100%;
        margin-top: 18px;
        flow-children: down;

        .ArmsCombieRows {
            width: 100%;
            margin-top: 4px;
            margin-bottom: 4px;
            // border-bottom: 1px solid #ffffff;
            // padding: 4px;
            flow-children: down;

            .Header {
                flow-children: down;

                .Title {
                    color: #0de26d;
                }

                .Desc {
                    color: #d8d8d8;
                }

                Label {
                    font-size: 18px;

                }
            }

            .CombieAbility {
                // width: 100%;
                // margin-left: 8px;
                flow-children: right-wrap;

                Label {
                    color: #5f5f5f;
                    font-size: 18px;
                    // margin-left: 4px;
                    margin-right: 4px;
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
            }
        }
    }



    .fire {
        color: #ff0000;
    }

    .water {
        color: #00c3ff;
    }

    .wind {
        color: #12ee0b;
    }

    .thunder {
        color: #e4b229;
    }

    .light {
        color: #fff3b1;
    }

    .dark {
        color: #741281;
    }

    .Attribute {
        // background-color: #ffffff;
        visibility: collapse;
        font-size: 20px;
        padding-bottom: 12px;
        color: #535252;;

        &.show {
            visibility: visible;
        }

        .key {
            color: #dfdfdf;
        }

        .val {
            font-weight: bold;
            color: #7fff94;
            text-shadow: 0px 0px 2px 3.0 #000000;

            &.negative {
                color: #ff0000;
            }
        }
    }

}