.root{
    width: 100%;
    height: 100%;
}
.tophud{
    horizontal-align: center;
    Panel,Label{
        font-family: titleFont;
        font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim, MingLiU;
    }
}
.tophudt{
    width: 304px;
    height: 42px;
    background-image: url('file://{images}/custom_game/hud/top_info/top_bg.png');
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    horizontal-align: center;
}
.tophudttitle{
    horizontal-align: center;
    font-size: 20px;
    y: 2px;
    color: #f4f4f4;

}
.tophudc{
    margin-top: 40px;
    flow-children: right;
}
.tophudcltime{
    font-size: 26px;
    color: #fff;
    vertical-align: center;
    margin-right: 10px;
}

.tophudccprogressbg{
    width: 517px;
    height: 6px;
    background-image: url('file://{images}/custom_game/hud/top_info/progress_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: center;
}

.tophudccprogress{
    width: 50%;
    height: 4px;
    background-image: url('file://{images}/custom_game/hud/top_info/progress.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tophudccx{
    flow-children: right;
}
.tophudccxli{
    margin-left: 50px;
    vertical-align: center;
    brightness: 0.6;
    saturation: 0.1;
    transition: saturation 0.2s linear 0s, brightness 0.2s linear 0s, transform 0.2s linear 0s;
    flow-children: right;
    &.active{
        brightness: 1;
        saturation: 1;
    }
}
.tophudccxliimg{
    width: 40px;
    height: 40px;
    vertical-align: center;
    background-image: url('file://{images}/custom_game/hud/top_info/boss_1.png');
}
.tophudccxlinum{
    vertical-align: center;
    font-size: 26px;
    color: #f4f4f4;
    margin-left: 4px;
}
.tophudb{
    margin-top: 84px;
    margin-left: 234px;
    flow-children: down;
}
.tophudbarrows{
    horizontal-align: center;
    margin-bottom: -10px;
}
.tophudbfont{
    font-size: 20px;
    color: #f5de8c;
    text-shadow: 0px 0px 4px 1.6 #9b3d35;
    .time{
        font-size: 26px;
        color: #f00;
        text-shadow: 0px 0px 1px 1 #9b3d35;
    }
}