#top_info {
    horizontal-align: center;
    width: 604px;
    height: 111px;
    background-image: url("file://{images}/custom_game/hud/top_info/top_border.png");


    #GameTimeInfo {
        width: 120px;
        horizontal-align: center;
        margin-top: 4px;

        // border: 1px solid #ffffff;
        .TimeLabel {
            horizontal-align: center;
            // background-color: #000000;
            font-weight: bold;
            font-size: 24px;
            // color:#3ab4d3;
            color: gradient(linear, 0% 0%, 0% 100%, from(#b7fff4), to(#42c9d1));
            // font-family: "思源黑体";
        }
    }

    .TopRows {
        // border: 1px solid #ffffff;
        flow-children: right;
        margin-top: 6px;

        Label {
            vertical-align: middle;
            font-size: 18px;
            color: #cddfdf;
            text-shadow: 0px 0px 1px 2 #000000;
            margin-left: 4px;
            margin-right: 4px;
        }

        .Icon {
            vertical-align: middle;
        }
    }

    #StageInfo {
        // width: 100px;
        margin-left: 100px;
        .Icon {
            width: 21px;
            height: 21px;
            background-image: url("file://{images}/custom_game/icon/difficulty.png");
        }
    }

    #LifeInfo {
        margin-right: 100px;
        horizontal-align: right;
        .Icon {
            width: 21px;
            height: 21px;
            background-image: url("file://{images}/custom_game/icon/life.png");
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
}