
// .GameSelectPhase_1 .HeroSelection {
//     visibility: visible;
// }

.HeroSelection {
    width: 100%;
    height: 100%;
    background-color: #16354e99;
    visibility: collapse;
}

.Background {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/custom_game/hud/hero_selection/bg.png");
}


.Container {
    width: 100%;
    height: 100%;
}