@import "./_exp_bar.less";
@import "./_hp_bar.less";
@import "./_portrait.less";
@import "./_arms_selector.less";
@import "./_buff_list.less";
@import "./_attribute_state";

.control {
    width: 100%;
    height: 100%;
}

#ActionAbility {
    flow-children: right;
    // border: 1px solid #ffffff;

    .AbilityPanel {
        width: 64px;
        height: 64px;
    }
}

.GameSelectPhase_-1,
.GameSelectPhase_0,
.GameSelectPhase_1,
.GameSelectPhase_2 {
    #CenterStatsContainer {
        visibility: collapse;
    }
}

#CenterStatsContainer {
    width: 100%;
    // flow-children: down;
    vertical-align: bottom;
    // border: 1px solid #fff;
    // margin-bottom: 100px;

    visibility: visible;

    #CenterPanel {
        width: 767px;
        padding: 8px;
        // border: 1px solid #f00;
        overflow: noclip;
        // height: 145px;
        // background-color: #302f3b;
        horizontal-align: center;
        // flow-children: down;
        background-image: url("file://{images}/custom_game/hud/control/baseplate.png");
        background-repeat: no-repeat;
        background-position: 0% 100%;
        margin-bottom: 4px;

        .HeroAbilityContainer {
            transform: translateX(40px);
            horizontal-align: center;
            vertical-align: bottom;
            // border: 1px solid #fff;
            flow-children: right;
        }

        #PortraitContainer {
            transform: translateX(-190px);
        }
    }

}

#AbilityPoint {
    // margin-left: -108px;
    width: 67px;
    height: 70px;
    background-image: url("file://{images}/custom_game/hud/control/ability_point_bg.png");
    vertical-align: bottom;
    // border: 1px solid #ffffff;
    // padding: 8px;

    Label {
        margin-left: 8px;
        font-size: 22px;
        color: #ffe8aa;
        text-shadow: 0px 0px 2px 2.0 #000000;
        horizontal-align: center;
        vertical-align: middle;
        margin-bottom: 12px;
    }
}

#AbilityList {
    margin-left: 8px;
    // width: (@AbilitySize + 4px)* 6;
    // min-height: @AbilitySize;
    flow-children: right;
    vertical-align: bottom;
    // background-color: #0a52489d;
    // border: 1px solid #ffffff;
    // horizontal-align: center;
    // margin-bottom: 28px;

    #Right,
    #Left {
        flow-children: right;
    }

    #Right {
        margin-left: 80px;
    }

    #Left {
        margin-right: 80px;
    }

    &.HasPoint .AbilityPanel .AbilityHoverTip {
        animation-name: flash;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
    }

    &.IsSelecting {

        &.HasPoint {
            .AbilityHoverTip {
                animation-name: none;
                // animation-duration: 0.4s;
                // animation-iteration-count: infinite;
            }
        }

        &.SetIndex_5 .Ability5,
        &.SetIndex_4 .Ability4,
        &.SetIndex_3 .Ability3,
        &.SetIndex_2 .Ability2,
        &.SetIndex_1 .Ability1,
        &.SetIndex_0 .Ability0 {

            .AbilityHoverTip {
                // animation-name: flash;
                animation-duration: 0.4s;
                // animation-iteration-count: infinite;
            }

        }
    }

}


#AttributeState {
    margin-left: 16px;
    // width: 114px * 4;
    // height: 120px;
    vertical-align: bottom;
    // background-color: #5f5f5f;
    // border: 1px solid #000000;
    margin-bottom: 12px;

    flow-children: right;

    #UnitLevel {
        // width: 54px;
        flow-children: right;
        vertical-align: bottom;

        .LevelTitle {
            width: 24px;
            color: #fec752;
            font-size: 16px;
            vertical-align: bottom;
            margin-bottom: 4px;
        }

        .LevelLabel {
            width: 72px;
            vertical-align: bottom;
            font-weight: bold;
            font-size: 30px;
            color: #fec752;
            text-shadow: 0px 0px 2px 3.0 #000000;
        }
    }

    #UnitAttribute {
        flow-children: right;
        vertical-align: bottom;
        margin-bottom: 4px;
        margin-left: 8px;
    }

    .HudAttributeRow {
        margin-left: 4px;
        // border: 1px solid #000000;
        // width: 100px;
        // margin: 2px;
        flow-children: right;
        tooltip-position: top;

        .StatIcon {
            width: 20px;
            height: 20px;
            background-size: 100%;
            vertical-align: bottom;
        }


        .AttributeValue {
            vertical-align: bottom;
            margin-left: 6px;
            width: 60px;
            // background-color: #00001a;
            // padding: 1px;
            font-size: 18px;
            color: #ffffff;
            text-shadow: 0px 0px 2px 3.0 #000000;
        }
    }
}

#PlayerTalentTreeList {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;

    &.Show {
        opacity: 1;
    }

    .AbilityTreePanel {
        background-size: 100%;
        vertical-align: bottom;
        horizontal-align: center;
        margin-bottom: 100px;
        opacity: 0;
        // padding: 60px;

        &.Show {
            opacity: 1;
        }

        #TalentList {
            // border: 1px solid #ffffff;
            // margin-top: 6px;
            // vertical-align: middle;
            horizontal-align: center;
            // width: 58px * 5;
            flow-children: right;
            overflow: clip;
            padding: 60px 60px 0px 60px;
            overflow: noclip;
        }

        .TalentInfo {
            width: 316px;
            height: 484px;
            vertical-align: bottom;
            background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t2.png");
            background-repeat: no-repeat;
            background-size: 100%;
            flow-children: none;
            horizontal-align: center;
            vertical-align: bottom;
            visibility: collapse;
            opacity: 0;
            transition-property: transform, ui-scale, pre-transform-scale2d;
            transition-duration: 0.15s;
            transform-origin: 50% 100%;
            ui-scale: 100%;
            pre-transform-scale2d: 1;

            #TalentIcon {
                width: 72px;
                height: 72px;
                margin-top: 48px;
                margin-left: 1px;
                horizontal-align: center;
                // vertical-align: middle;
                border-width: 2px;
                border-style: solid;
                border-color: #954cff;
                transition-property: margin, width, height;
                transition-duration: 0.1s;
            }

            .Name {
                color: #954cff;
            }

            &.IsAbility {
                background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t3.png");

                .Name {
                    color: #fbb93a;
                }

                .BtnHover {
                    background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t3_hover.png");
                }

                #TalentIcon {
                    border-color: #fbb93a;
                }

                &.IsNew {
                    .TalentStateLabel {
                        background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_main_b.png");
                    }
                }

                &.IsUp {
                    .TalentStateLabel {
                        background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_main_a.png");
                    }
                }
            }

            &.IsAttribute {
                background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t1.png");

                .BtnHover {
                    background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t1_hover.png");
                }

                #TalentIcon {
                    border-color: #67a9f1;
                }

                .Name {
                    color: #67a9f1;
                }

                &.IsNew,
                &.IsUp {
                    .TalentStateLabel {
                        background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_passive.png");
                    }
                }

            }

            .BtnHover {
                width: 100%;
                height: 100%;
                background-image: url("file://{images}/custom_game/hud/control/upgrade/talent_info_t2_hover.png");
                background-size: 100%;
                opacity: 0;
                transition-property: opacity;
                transition-duration: 0.1s;
            }

            &:hover {
                // ui-scale: 110%;

                // pre-transform-scale2d: 1.1;
                transform: scaleX(1.1) scaleY(1.1);

                .BtnHover {
                    opacity: 1;
                }
            }


            &.Show {
                opacity: 1;
                visibility: visible;
                brightness: 1;
            }

            .TalentStateLabel {
                // border: 1px solid #fff;
                horizontal-align: center;
                width: 59px;
                height: 61px;
                // 
                background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_passive.png");
                vertical-align: bottom;
            }


            &.IsNew {
                .StateIcon {
                    background-image: url("file://{images}/custom_game/hud/control/icon_new.png");
                }

                .TalentStateLabel {
                    background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_sub_b.png");
                }
            }

            &.IsUp {
                .StateIcon {
                    background-image: url("file://{images}/custom_game/hud/control/icon_up.png");
                }

                .TalentStateLabel {
                    background-image: url("file://{images}/custom_game/hud/control/upgrade/icon_sub_a.png");
                }

                // .TalentStateLabel {
                //     background-image: url("file://{images}/custom_game/hud/control/state_up.png");
                // }
            }


            .StateIcon {
                width: 26px;
                height: 12px;
                margin-left: 4px;
                margin-top: 4px;

            }

            #TalentNodeButton {

                horizontal-align: center;
                width: 100%;
                height: 100%;
                flow-children: down;
                transition-property: width, height;
                transition-duration: 0.1s;

                .AbilityNamePanel {
                    horizontal-align: center;
                    flow-children: right;

                    margin-top: 34px;

                    Label {
                        font-size: 18px;
                        // text-overflow:shrink;
                        // font-weight: semi-bold;
                        // font-stretch: expanded;
                    }
                }

                #TypesLabel {
                    visibility: collapse;

                    &.Show {
                        visibility: visible;
                    }
                }

                .TalentExtraInfo {
                    margin-top: 8px;
                    // border: 1px solid #fff;
                    height: 50px;
                    horizontal-align: center;
                    // vertical-align: middle;
                    flow-children: right;

                    #ExtraElement {
                        width: 50px;
                        height: 50px;

                        background-repeat: no-repeat;
                        background-size: 42px 39px;
                        background-position: 50% 50%;
                        visibility: collapse;

                        &.Show {
                            visibility: visible;
                        }

                        &.element_1 {
                            background-image: url("file://{images}/custom_game/icon/element/1.png");
                        }

                        &.element_2 {
                            background-image: url("file://{images}/custom_game/icon/element/2.png");
                        }

                        &.element_3 {
                            background-image: url("file://{images}/custom_game/icon/element/3.png");
                        }

                        &.element_4 {
                            background-image: url("file://{images}/custom_game/icon/element/4.png");
                        }

                        &.element_5 {
                            background-image: url("file://{images}/custom_game/icon/element/5.png");
                        }

                        &.element_6 {
                            background-image: url("file://{images}/custom_game/icon/element/6.png");
                        }
                    }

                    // #ExtraTypes {
                    //     // width: 50px;
                    //     // height: 50px;
                    //     vertical-align: middle;
                    //     background-repeat: no-repeat;
                    //     background-size: 50px 22px;
                    //     background-position: 50% 50%;
                    //     visibility: collapse;
                    //     border: 1px solid #252525;


                    //     &.Show {
                    //         visibility: visible;
                    //     }


                    // }
                }

                .SplitLine {
                    width: 189px;
                    height: 1px;
                    horizontal-align: center;
                    margin-top: 8px;
                    margin-bottom: 4px;
                    background-image: url("file://{images}/custom_game/hud/control/upgrade/split_line.png");
                }

                #ChildNodeHeader {
                    width: 100%;
                    horizontal-align: center;
                    margin-top: 6px;
                    flow-children: down;

                    Label {
                        horizontal-align: center;
                        font-size: 14px;
                        color: #ffffff;
                    }

                    .BranchLineAndPoint {
                        width: 100%;
                        margin-top: 4px;

                        .Point {
                            horizontal-align: center;
                            height: 18px;
                            width: 18px;
                            background-image: url("file://{images}/custom_game/hud/control/upgrade/branch_point.png");
                            background-position: 50% 50%;
                        }
                    }
                }

                #ChildNodeList {
                    vertical-align: bottom;
                    margin-top: -8px;
                    // margin-bottom: 64px;
                    // border: 1px solid #fff;
                    horizontal-align: center;
                    flow-children: right;
                    width: 75%;
                    // padding: 4px;

                    .ChildTalentNode {
                        width: fill-parent-flow(1);
                        flow-children: down;
                        // overflow: noclip;

                        .HorLine {
                            width: 100%;
                            height: 1px;
                            // box-shadow: hollow #fdca6b 0px 0px 1px 0px;
                            background-color: #fbb93a;
                        }

                        &.is_only {
                            .HorLine {
                                visibility: collapse;
                            }
                        }

                        &.is_first .HorLine{
                            // margin-left: 4px;
                            // margin-right: -12px;
                            width: 51%;
                            horizontal-align: right;
                        }

                        &.is_last .HorLine{
                            // margin-left: -2px;
                            width: 51%;
                            horizontal-align: left;
                        }

                        .Line {
                            width: 1px;
                            height: 16px;
                            // box-shadow: hollow #fdca6b 0px 0px 1px 0px;
                            horizontal-align: center;
                            background-color: #fbb93a;
                        }

                        #ChildTalentIcon {
                            horizontal-align: center;
                            width: 40px;
                            height: 40px;
                            border: 1px solid #fbb93a;

                        }
                    }
                }

                .AbilityDescription {
                    width: 189px;
                    height: 80px;
                    horizontal-align: center;

                    Label {
                        font-size: 16px;
                    }
                }

                .Variable,
                .GameplayVariable {
                    font-size: 20px;
                    // font-weight: bold;
                    color: #5d758f;
                }

                .OtherVariable {
                    color: #5c5c5c;
                }

                .Current {
                    color: #ffc833;
                }
            }



        }


    }

}

#JumpPanel {
    vertical-align: bottom;
    // border: 1px solid #fff;

    .JumpBorder {
        width: 76px;
        height: 74px;
        background-image: url("file://{images}/custom_game/hud/control/jump/jump_border_1.png");
        transition-property: background-image;
        transition-duration: 0.2s;
    }

    #AbilityPanel {
        width: 76px;
        height: 74px;
        margin-bottom: 12px;
        // jump_border_1



        #AbilityImage {
            width: 40px;
            height: 40px;
            margin-top: 4px;
            align: center center;
            background-image: url("file://{images}/custom_game/hud/control/jump/jump_icon.png");
            background-size: 100%;
            z-index: -1;
        }

    }

    #AbilityCharge {
        horizontal-align: center;
        flow-children: right;
        vertical-align: bottom;

        .ChargePoint {
            width: 22px;
            height: 22px;
            background-image: url("file://{images}/custom_game/hud/control/jump/charges_d.png");
            margin-left: -2px;
            margin-right: -2px;
        }

        .No2 {
            margin-top: 4px;
        }

        &.charge1 {
            .No1 {
                background-image: url("file://{images}/custom_game/hud/control/jump/charges_h.png");
            }
        }

        &.charge2 {

            .No2,
            .No1 {
                background-image: url("file://{images}/custom_game/hud/control/jump/charges_h.png");
            }
        }

        &.charge3 {

            .No3,
            .No2,
            .No1 {
                background-image: url("file://{images}/custom_game/hud/control/jump/charges_h.png");
            }
        }
    }

    &.in_cooldown {
        #Cooldown {
            visibility: visible;
        }

        .JumpBorder {
            background-image: url("file://{images}/custom_game/hud/control/jump/jump_border_2.png");
        }

        // jump_border_2
    }

    #Cooldown {
        width: 40px;
        height: 40px;
        margin-top: 4px;
        border-radius: 50%;
        align: center center;
        visibility: collapse;

        #CooldownOverlay {
            width: 100%;
            height: 100%;
            transition-property: clip;
            transition-timing-function: ease-in-out;
            // transition-duration: 0.05s;
            // margin: 1px;
            background-color: #000000dc;
            // visibility: ;
        }

        #CooldownTimer {
            color: white;
            font-size: 18px;
            font-weight: bold;
            text-shadow: 1px 1px 2px 2.0 #111111;
            width: 100%;
            text-align: center;
            vertical-align: center;
            text-overflow: shrink;
        }
    }
}