.PropItem {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/component/game/prop_item/prop_item_border_r1.png");
    padding: 6px;

    #ItemIcon {
        width: 100%;
        height: 100%;
    }

    &.state_0 {
        #ItemIcon {
            visibility: collapse;
        }
    }
}