@import url("./../../../_styles/variables/_variables.less");

.right_items {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
}


#RightItemsContainer {
    width: 77px;
    height: 202px;
    horizontal-align: right;
    vertical-align: middle;
    background-image: url("file://{images}/custom_game/hud/right_items/right_border.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .AboutBtn {
        horizontal-align: right;
        width: 77px;
        height: 112px;
        vertical-align: top;
        background-img-opacity: 0;
        background-image: url("file://{images}/custom_game/hud/right_items/right_btn_hover.png");

        transition-property: background-img-opacity;
        transition-duration: 0.1s;

        .Icon {
            horizontal-align: right;
            vertical-align: bottom;
            margin-bottom: 16px;
            width: 43px;
            height: 53px;
            saturation: 0.1;
            brightness: 0.5;
        }

        &:hover {
            
            background-img-opacity: 0.8;
            .Icon {
                saturation: 0.6;
                brightness: 0.6;
            }

        }

        &.Check{
            background-img-opacity: 1;

            .Icon {
                saturation: 1;
                brightness: 1;
            }
        }
    }

    #BtnAboutShop {
        .Icon {
            background-image: url("file://{images}/custom_game/hud/right_items/btn_item_h.png");
        }
    }

    #BtnAboutRune {
        vertical-align: bottom;
        transform: scaleY(-1.0);

        .Icon {
            background-image: url("file://{images}/custom_game/hud/right_items/btn_rune_h.png");
        }

    }


}

#AboutPanleList {
    width: 100%;
    height: 100%;
}

.AboutListClass {
    min-width: 80px;
    height: 573px;
    background-image: url("file://{images}/custom_game/hud/right_items/item_list_border.png");
    background-size: 100%;
    horizontal-align: right;
    vertical-align: middle;
    margin-right: 72px;
    padding: 4px 14px;

    // transform: translateX(350px);
    transition-property: transform;
    transition-duration: 0.1s;
    opacity: 0;
    // border: 1px solid #000000;
    &.Show {
        opacity: 1;
        // transform: translateX(0px);
    }

    .ItemListClass {
        flow-children: down-wrap;
        transform: scaleX(-1.0);
    }

    .ItemBorder {
        width: 66px;
        height: 66px;
        transform: scaleX(-1.0);
        background-image: url("file://{images}/custom_game/hud/right_items/item_border.png");
        margin: 2px 4px;

        &:hover {
            .ItemInfo {
                brightness: 2;
            }
        }

        &.NoCount .CountLabel {
            visibility: collapse;
        }

        .ItemInfo {
            border: 2px solid #000000;
            // box-shadow: #000000aa 0px 0px 2px 2px;
            border-brush: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #00ff00ff ), to( #0000ffff ) );
            // border-brush: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), to( #c0c0c0c0 ) );
            // border-brush: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
            // clip: radial( 50% %50, 0deg, 90deg );
            width: 52px;
            height: 52px;
            padding: 2px;
            align: center center;
        }

        #ItemImage {
            background-color:fade(#000000, 90%); ;
            // opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffffff ), to( #ffffff00 ) );

            // opacity-brush:gradient( radial, 50% 50%, 0% 0%, 200% 100%, from( #ffffff ), to( #00000000 ) );
        }

        .CountLabel {
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            horizontal-align: right;
            vertical-align: bottom;
            text-shadow: 0px 0px 2px 4.0 #000000;
            margin-right: 4px;
        }


        &.rare_3 .ItemInfo { 
            background-color: @rarity_color_3;
        }

        &.rare_4 .ItemInfo { 
            background-color: @rarity_color_4;
        }

        &.rare_5 .ItemInfo { 
            background-color: @rarity_color_5;
        }

        &.rare_6 .ItemInfo { 
            background-color: @rarity_color_6;
        }
    }
}