@import url("./../../_styles/variables/_variables.less");

@width: 182px;

#Contents {
    // padding: 0px;
    border: 0px solid #00000000;
    background-color: #00000000;
    box-shadow: none;
    padding: 0px 0px 0px 0px;

    &.Tooltip {
        background-color: #00000000;
        background-repeat: no-repeat;
        background-position: left top;
        // padding: 0px;
    }
}

.tooltip_rune {

    // padding-bottom: 32px;
    // border: 1px solid #ff1919;
    // 
    .Background {
        // margin-top: 18px;
        width: 100%;
        height: 100%;
        flow-children: down;
        // padding-bottom: 130px;
    }

    .Header {
        width: 100%;
        height: 100%;
        flow-children: down;




    }

    .Top {
        width: @width;
        height: 52px;
        background-image: url("file://{images}/custom_game/tooltip/rune/rune_tips_1.png");
        // border: 1px solid #bcffaf;
    }

    .Mid {
        width: @width;
        height: 100%;
        background-image: url("file://{images}/custom_game/tooltip/rune/rune_tips_2.png");
        // border: 1px solid #7c94ff;
        // margin-bottom: 12px;
    }

    .Bot {
        width: @width;
        height: 76px;
        background-image: url("file://{images}/custom_game/tooltip/rune/rune_tips_3.png");
        vertical-align: bottom;
    }
}

.TooltipContent {
    width: @width;
    min-height: 222px;
    flow-children: down;

    .Image {
        margin-top: 12px;
        horizontal-align: center;
        width: 62px;
        height: 62px;
        border: 2px solid #000000;
        padding: 2px;

        #Image {
            width: 100%;
            height: 100%;
            background-color: fade(#000000, 90%);
        }
    }

    .Title {
        margin-top: 22px;
        horizontal-align: center;

        Label {
            font-size: 18px;
        }
    }

    .Description {
        margin-top: 8px;
        horizontal-align: center;
        padding: 12px;

        Label {
            font-size: 18px;
        }
    }
}

.GameplayVariable{
    font-weight: bold;
    
    &.Current {
        color:rgb(53,162,72);
    }
    &.is_negative {
        color:#ff0000;
    }
}