#ChapterSelect {
    margin-top: 12px;
    horizontal-align: center;
    width: 600px;
    height: 300px;


    &.GameSelectPhase_1 #StageHeroSelect,
    &.GameSelectPhase_0 #CurrentStageSelect {
        visibility: visible;
    }

    #CurrentStageSelect {
        width: 100%;
        height: 100%;
        visibility: collapse;
        // background-color: #d8cc27;
        flow-children: down;

        #StageAction {
            width: 100%;
            flow-children: right;
        }

        #StageBtnGroup {
            horizontal-align: right;
            vertical-align: bottom;
        }

        &.Stage_4 #StageDifficulty_4,
        &.Stage_3 #StageDifficulty_3,
        &.Stage_2 #StageDifficulty_2,
        &.Stage_1 #StageDifficulty_1 {
            visibility: visible;
        }

        #SelectStageList {
            width: 50%;
            // height: 100%;
            flow-children: down;
        }

        #StageDifficultyList {
            width: 50%;
            // height: 100%;
            // flow-children: none;
        }

        .SelectStage {
            width: 100%;
            // height: 100%;
            padding: 4px;
            border: 1px solid #a09d6e;
            background-color: #1b1b19;

            Label {
                font-size: 24px;
            }
        }

        .StageDifficulty {
            visibility: collapse;

        }
    }

    #StageHeroSelect {
        width: 100%;
        height: 100%;
        visibility: collapse;
        background-color: #263028;

        #PickHeroList {
            flow-children: right-wrap;

            .HeroCardButton {
                width: 100px;
                height: 100px;
                border: 1px solid #1b1b19;
                box-shadow: rgba(0, 0, 0, 0.856) 0px 0px 4px;
                margin: 4px;
                transition-property: transform, height, box-shadow, saturation , border-color;
                transition-duration: 0.2s;
                transform-origin: 0% 100%;
                
                &:hover {
                    border-color: #a09d6e;
                };
                
                &:selected {
                    // border-color: #a09d6e;
                    box-shadow: rgba(255, 250, 201, 0.849) 0px 0px 4px;
                }

                .HeroImage {
                    width: 100%;
                    height: 100%;
                    overflow: clip;
                }

                .HeroIcon,
                DOTAHeroMovie {
                    width: 151px * 0.7;
                    height: 200px * 0.7;
                    overflow: clip;
                    horizontal-align: center;
                    vertical-align: middle;
                    // border: 1px solid #0d4470;

                }
            }

        }
    }
}