.GameSelectPhase_1 #ChapterSelect #StageHeroSelect,
.GameSelectPhase_0 #ChapterSelect #CurrentStageSelect {
    visibility: visible;
}

#ChapterSelect {
    margin-top: 12px;
    horizontal-align: center;
    width: 600px;
    // min-height: 300px;
    flow-children: down;




    #ChapterContent {
        visibility: collapse;
    }

    &.Open #ChapterContent {
        visibility: visible;
    }

    #CurrentStageSelect {
        width: 100%;
        // height: 100%;
        visibility: collapse;
        // background-color: #d8cc27;
        flow-children: down;

        #StageAction {
            width: 100%;
            flow-children: right;
        }

        #StageBtnGroup {
            horizontal-align: right;
            vertical-align: bottom;
        }

        &.Stage_5 #StageDifficulty_5,
        &.Stage_4 #StageDifficulty_4,
        &.Stage_3 #StageDifficulty_3,
        &.Stage_2 #StageDifficulty_2,
        &.Stage_1 #StageDifficulty_1 {
            visibility: visible;
        }

        #SelectStageList {
            width: 50%;
            // height: 100%;
            flow-children: down;
        }

        #StageDifficultyList {
            width: 50%;
            // height: 100%;
            // flow-children: none;
        }

        .SelectStage {
            width: 100%;
            // height: 100%;
            padding: 4px;
            border: 1px solid #a09d6e;
            background-color: #1b1b19;

            Label {
                font-size: 24px;
            }
        }

        .StageDifficulty {
            visibility: collapse;

        }

        #ChapterList {
            border-bottom: 1px solid #a09d6e;
        }
    }

    #StageHeroSelect {
        width: 100%;
        // height: 100%;
        visibility: collapse;
        background-color: #263028;

        #PickHeroList {
            flow-children: right-wrap;

            .HeroCardButton {
                width: 100px;
                height: 100px;
                border: 1px solid #1b1b19;
                box-shadow: rgba(0, 0, 0, 0.856) 0px 0px 4px;
                margin: 4px;
                transition-property: transform, height, box-shadow, saturation, border-color;
                transition-duration: 0.2s;
                transform-origin: 0% 100%;

                &:hover {
                    border-color: #a09d6e;
                }

                ;

                &:selected {
                    // border-color: #a09d6e;
                    box-shadow: rgba(255, 250, 201, 0.849) 0px 0px 4px;
                }

                .HeroImage {
                    width: 100%;
                    height: 100%;
                    overflow: clip;
                }

                .HeroIcon,
                DOTAHeroMovie {
                    width: 151px * 0.7;
                    height: 200px * 0.7;
                    overflow: clip;
                    horizontal-align: center;
                    vertical-align: middle;
                    // border: 1px solid #0d4470;

                }
            }

        }
    }

    .PlayerReadyStateItem {
        width: 420px;
        height: 80px;
        background-repeat: no-repeat;
        // select_hero_layder
        // 
        background-img-opacity: 0.5;
        padding-left: 12px;
        // border-radius: 4px;
        // // height: 66px;
        // background-color: #292929;
        // border: 2px solid #898989;
        margin-top: 8px;
        flow-children: right;

        .MasterVoteCount {
            width: 58px;
            height: 58px;
            vertical-align: middle;
            background-image: url("file://{images}/custom_game/selection/hero/master/vote_bg.png");

            Label {
                font-size: 22px;
                color: #ffeccc;
                align: center center;
            }

            margin-right: 8px;
        }

        &.is_ready {
            background-image: url("file://{images}/custom_game/selection/hero/select_hero_layder.png");
        }

        .AvatarImage {
            vertical-align: middle;
            width: 56px;
            height: 56px;
            border: 2px solid #757575;
            border-radius: 0px 12px 0px 12px;
        }



        .SelectHero {
            width: 64px;
            height: 64px;
            horizontal-align: right;
            vertical-align: middle;

            // transform: skew(-30deg) translateX(16px);
            // border-left: 2.5px solid #000000;
            background-color: #000000;
            border-radius: 50%;

            // padding: 4px;
            // 
            .HeroImage {
                width: 62px;
                height: 62px;
                margin: 2px;
                vertical-align: middle;
                horizontal-align: center;
                overflow: clip;
                border-radius: 50%;
            }

            Image {
                width: 151px * 0.36;
                height: 200px * 0.36;
                vertical-align: middle;
                horizontal-align: center;
                // transform: skew(30deg) translateY(-10px);
            }

            .HeroBorder {
                width: 100%;
                height: 100%;
                background-image: url("file://{images}/custom_game/selection/hero/select_hero_border1.png");
                background-size: 100%;
            }
        }

        .PlayerInfo {
            margin-left: 6px;
            vertical-align: middle;
            flow-children: down;

            #PlayerName {
                color: #c7c7c7;
                text-shadow: 0px 0px 2px 2.0;
                vertical-align: middle;
                font-size: 14px;
            }
        }

        #AvatarImage {
            width: 32px;
            height: 32px;
            border: 1px solid #ffffff;
        }

        DOTAAvatarImage {
            z-index: 99;
            width: 32px;
            height: 32px;
            border: 1px solid #ffffff;
            horizontal-align: right;
            vertical-align: bottom;
            opacity: 1;

            // DOTAAvatarImage {
            //     width: 100%;
            //     height: 100%;
            // }

            &.Ready {
                opacity: 1;
            }
        }

        #ReadyState {

            // horizontal-align: center;
            vertical-align: middle;

            Label {
                font-size: 20px;
                // text-align: center;
                // background-color: #4ce3f7;
                // box-shadow: 0px 0px 4px rgba(72, 234, 255, 0.627);
                border-radius: 4px;
                margin-top: 2px;
                padding: 2px 5px;
                color: #ebc803;
                text-shadow: #000000 0px 0px 1px 1;
                font-family: FZLanTingHei-R-GBK;
                // horizontal-align: center;
                vertical-align: bottom;
                // opacity: 0;
            }

            .IsReady {
                color: #fff09c;
            }
        }



    }
}