// @import url("./../../custom_common/am2styles.less");

#Contents {
    padding: 0px;
    border: 2px solid #000000;
    background-color: #00000000;
    // box-shadow: none;
    // background-color: 00000000;

    // border: 2px solid #7f55cc;
    &.Tooltip {
        background-color: #00000000;
        background-repeat: no-repeat;
        background-position: left top;
        padding: 0px;
    }
}

.TooltipContent {
    background-color: #0f0f0f;
    border: 2px solid #353535;
    width: 330px;
    flow-children: down;

}

.IsAbility .TalentHeader {
    height: 41px;
    background-image: url("file://{images}/custom_game/tooltip/ability/extra_header_1.png");

    .TalentLevel,
    .TalentName {
        font-size: 22px;
    }
}

.TalentHeader {
    width: 100%;
    height: 29px;
    background-image: url("file://{images}/custom_game/tooltip/ability/extra_header_2.png");
    background-repeat: no-repeat;
    // border: 1px solid #000000;

    horizontal-align: center;
    flow-children: right;

    .TalentLabels {
        // border: 1px solid #ffffff;
        margin-left: 12px;
        vertical-align: middle;
        // margin-bottom: 2px;
        flow-children: right;

        .TalentLevel,
        .TalentName {
            color: #ffffff;
            font-size: 19px;
            text-shadow: 0px 0px 2px 2.0 #000000;
        }


    }

    .TalentExtraInfo {
        horizontal-align: right;
        vertical-align: middle;
    }

}

.TalentDesc {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    padding: 8px;
}

.Variable,
.GameplayVariable {
    font-size: 20px;
    // font-weight: bold;
    color: #5d758f;
}

.OtherVariable {
    color: #5c5c5c;
}

.Current {
    color: #ffc833;
}

// .GameplayVariable {
//     font-weight: bold;
//     font-size: 20px;
//     // color:#ffffff;
// }

// .OtherVariable {
//     color: #666666;
// }

// .Current {
//     color: #00ff00;
// }