// @import url("./../../custom_common/am2styles.less");

#Contents {
    padding: 12px;
    // border: 0px solid #00000000;
    // background-color: #00000000;
    // box-shadow: none;
    background-color: #2b0707;

    // border: 2px solid #7f55cc;
    &.Tooltip {
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: left top;
        padding: 0px;
    }
}

.tooltip_talent_tree {
    width: 360px;

    // border-radius: 6px;
    // background-image: url("file://{images}/custom_game/hero_choose/border_background.png");

    flow-children: down;
    // background-color: #000000e1;

    .TalentHeader {
        // background-color: #0f0;
        horizontal-align: center;
        flow-children: down;

        #TalentIcon {
            width: 64px;
            height: 64px;
            border: 1px solid #ffffff;
        }
    }

    // .TalentDesc {
    //     margin-top: 8px;
    //     font-size: 18px;
    //     color: #e2941e;

    // }

    .TalentDesc {
        width: 100%;
        font-size: 18px;
        color: #e2941e;
        padding: 8px;
    }

    .Variable,
    .GameplayVariable {
        font-size: 20px;
        font-weight: bold;
        color: #5d758f;
    }

    .OtherVariable {
        color: #5c5c5c;
    }

    .Current {
        color: #20e206;
    }

    // .GameplayVariable {
    //     font-weight: bold;
    //     font-size: 20px;
    //     // color:#ffffff;
    // }

    // .OtherVariable {
    //     color: #666666;
    // }

    // .Current {
    //     color: #00ff00;
    // }
}