// @import "./panel/control/control.less";

.home {
    width: 100%;
    height: 100%;
}

#GamePhase {
    horizontal-align: right;
    margin-right: 256px;
    font-size: 18px;
    color: #ffffff;

}

#game_logo {
    width: 178px;
    height: 55px;
    // margin-top: 50px;
    horizontal-align: right;
    // margin-right: 180px;
    margin-top: 50px;
    background-image: url("file://{images}/custom_game/icon/game_logo.png");
}