@import url("./styles/rarity.less");
@import url("./styles/layout.less");
@import url("./styles/item_image.less");
@import url("./styles/ability_image.less");

@contextmenu_zindex: 10000100;
@mousepanningcursorsize: 64px;
@colorHomeStatLineText: #ffffff;
@colorHomeStatLineTextBright: #ffffff;
@defaultFont: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim;
@monospaceNumbersFont: RadianceM, Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
@titleFont: Reaver, Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
@baseColor :#ffffff;


Label {
    font-size: 16px;
    font-family: @defaultFont ;
    color: @baseColor;
}