@import "./../dashboard_panel.less";



.ContentFrame {
    width: 1468px;
    height: 741px;
    // 
    background-image: url("file://{images}/custom_game/dashboard/card/in_frame.png");

    &.handbook #card_handbook,
    &.register #card_register {
        visibility: visible;
    }
}

.nav_content {
    width: 100%;
    height: 100%;
    // border: 1px solid #ffffff;
}