@import url("./../_common_popup.less");

.PopupWindows {
    horizontal-align: center;
    vertical-align: middle;

    border: 2px solid #333333;
    background-color: #000000fa;

    width: 480px;
    // min-height: 280px;
    // padding: 12px;
    flow-children: down;

    .ServerCode {
        width: 100%;
        horizontal-align: center;
        background-color: #444;
        padding: 4px;

        Label {
            font-size: 20px;
            color:#ffffff;
        }
    }

    .ServerMsg {
        width: 100%;
        vertical-align: middle;
        // border: 1px solid #fff;
        padding: 4px;

        Label {
            font-size: 18px;
            color:#ffffff;
            horizontal-align: center;
        }
    }

    #ConfirmButton {
        vertical-align: bottom;
        horizontal-align: center;
        margin-bottom: 8px;
    }
}

#CanvasPanel {
    // width: 200px;
    // height: 200px;
    background-color: #fff;
    horizontal-align: center;
    vertical-align: middle;
    
}