@import url("./_common.less");

.PopupsBackground {
    width: 1238px;
    height: 748px;
    horizontal-align: center;
    vertical-align: middle;
    // border: 1px solid #fff;
    background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/bg.png");
    background-color: #000000;
    // flow-children: down;
    visibility: collapse;

    &.Show {
        visibility: visible;
    }

}

.Container {
    width: 100%;
    height: 100%;
    flow-children: down;

    >.Header {
        width: 100%;

        // border: 1px solid #fff;
        >.Title {
            margin-top: 2px;
            width: 231px;
            height: 52px;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/title.png");
            horizontal-align: center;
        }

        #ClosedBtn {
            width: 47px;
            height: 47px;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/closed_btn.png");
            horizontal-align: right;
            margin-top: 6px;

            &:hover {
                brightness: 2;
            }
        }
    }

    .Content {
        width: 100%;
        height: 100%;
        flow-children: none;
    }
}

#SoulEquipList {
    flow-children: down;
    // border: 1px solid #fff;
    // vertical-align: middle;
    margin-left: 20px;
    margin-top: 60px;

    .SoulEquipBorder {
        width: 310px;
        height: 94px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/soul_equip_border.png");
        background-size: 100%;
        margin-top: -8px;

        flow-children: right;

        &:hover {
            brightness: 2;
        }

        &:selected {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/soul_equip_border_hover.png");

            &:hover {
                brightness: 1;
            }
        }

        .Left {
            margin-left: 40px;
            vertical-align: middle;

            .Border {
                width: 54px;
                height: 54px;
                background-image: url("file://{images}/custom_game/icon/server_item/rare_3.png");
                background-size: 100%;

                .EquipIcon {
                    width: 90%;
                    height: 90%;
                    align: center center;
                    background-size: 100%;
                }
            }
        }

        .Right {
            margin-left: 10px;
            vertical-align: middle;
            flow-children: down;

            .Name {
                font-size: 18px;
                color: #FFFFFF;
            }
        }
    }

}


.StrengthenSlot {
    width: 154px;
    height: 155px;
    background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/strengthen_slot.png");
    horizontal-align: center;
    margin-top: 148px;

    #SelectEquipIcon {
        width: 72px;
        height: 72px;
        align: center center;
        // border: 1px solid #fff;

        background-size: 100%;

        &.1 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_1.png");
        }

        &.2 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_2.png");
        }

        &.3 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_3.png");
        }

        &.4 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_4.png");
        }

        &.5 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_5.png");
        }

        &.6 {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/equip/slot_6.png");
        }
    }
}

.SSAttributeBorder {
    width: 452px;
    height: 176px;
    background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/ss_attr_bg.png");
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 200px;
    flow-children: down;

    >.Header {
        width: 100%;
        height: 40px;
        // border: 1px solid #fff;
        padding-top: 4px;

        .Title {
            font-size: 16px;
            horizontal-align: center;
            color: #FFE57D;
            text-shadow: 0px 0px 4px 2.0 #c98820;
            vertical-align: middle;
        }
    }

    #SSAttributeList {
        horizontal-align: center;
        width: 80%;
        flow-children: down;
        // border: 1px solid #fff;
        overflow: squish scroll;

        .ItemStoneAttrRows {
            margin-top: 2px;
            padding: 1px;
            border-bottom: 1.5px solid #3b3b3b;

            // border-bottom-color: gradient( linear, 0% 0%, 70% 0%, from( #676b70), to( #3e4144));;
            height: 24px;

            .Name {
                margin-left: 40px;
                width: 190px;
            }

            .Attr {
                color: #0f0;
            }
        }

    }
}

.SelectSSContent {
    margin-top: 20px;
    margin-right: 40px;
    horizontal-align: right;
    flow-children: down;
    // height: 220px;

    .Header {
        width: 282px;
        height: 33px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/select_header.png");

        // 
        Label {
            font-size: 18px;
            horizontal-align: center;
            vertical-align: middle;
            color: gradient(linear, 0% 0%, 0% 100%, from(#FFE57D; ), to(#FFE57D));
            font-weight: bold;
            text-shadow: 0px 0px 4px 2.0 #c98820;
        }
    }

    #SelectSSAttributeList {
        flow-children: down;
        margin-top: 8px;


    }

    #AddSSBtn {
        width: 282px;
        height: 36px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/select_attr_row.png");

        &:hover {
            brightness: 2;
        }

        .LabelAndIcon {
            width: 77px;
            height: 16px;
            align: center center;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/select_attr_add_label.png");
        }

    }
}

.SSOptionContainer {
    horizontal-align: right;
    // margin-right: 40px;
    margin-top: 300px;
    flow-children: down;
    margin-right: 40px;
    // border: 1px solid #fff;
    height: 360px;

    .OptionRadioBtnList {
        flow-children: right;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/option_header.png");

        #SSAttrRadioUpper.SSAttrRadioBtn:selected {
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/option_header_hover2.png");

        }

        .SSAttrRadioBtn {
            width: 141px;
            height: 33px;

            &:selected {
                background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/option_header_hover.png");
            }

            background-size: 100%;

            Label {
                align: center center;
                font-size: 18px;
                color: gradient(linear, 0% 0%, 0% 100%, from(#A9A9A9; ), to(#E7E7E7));
            }
        }
    }

    .ConfirmBtnGroup {
        horizontal-align: center;
        vertical-align: bottom;
        flow-children: right;

        Button {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

}

#SSActionResults {
    // border: 1px solid #fff;
    flow-children: down;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 20px;

    &.HideSuccess {
        .SuccessLabel {
            visibility: collapse;
        }
    }

    .ServerItemContanier {
        // width: 320px;
        // border: 1px solid #fff;
        flow-children: right;
        horizontal-align: center;

        .SuccessLabel {
            width: 162px;
            // border: 1px solid #fff;
            vertical-align: middle;
            font-size: 22px;
            color: #FFF47E;
            text-align: center;
            margin-left: 8px;
            margin-right: 8px;
            text-shadow: 0px 0px 4px 2.0 #c98820;
        }
    }

    .ServerItemBorder {

        #ResultsExtendItem {
            width: 100%;
            height: 100%;
        }

        .ServerItemPanel {
            width: 84px;
            height: 84px;
            // flow-children: right;
            vertical-align: middle;
            horizontal-align: center;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/server_item_border.png");

            .ServerItem {
                width: 56px;
                height: 56px;
                margin-left: 4px;
                margin-right: 4px;
            }
        }

        .CostItemNum {
            width: 100%;
            height: 20px;
            background-color: #00000099;
            horizontal-align: center;
            vertical-align: bottom;

            .CostLabel {
                align: center center;
                flow-children: right;
            }

            Label {
                font-size: 16px;
            }

            .Owned {
                color: #fff;
            }

            .Need {
                color: #666;
            }


        }


    }

    #AddExtendItemBtn {
        width: 100%;
        height: 100%;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/add_btn.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        align: center center;
        // border: 1px solid #fff;
    }

    #DeleteExtendItemBtn {
        horizontal-align: right;
        width: 28px;
        height: 27px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/del_btn_2.png");

        &:hover {
            brightness: 2;
        }
    }

    .UpperPriceCost {
        margin-top: 12px;
        // border: 1px solid #fff;
        horizontal-align: center;
        // flow-children: right;
        flow-children: down;

        .CostPanel {
            vertical-align: middle;
            horizontal-align: center;
            // flow-children: right;
            width: 238px;
            height: 36px;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/price_cost_bg.png");
            background-size: 100%;

            .CenterContent {
                flow-children: right;
                horizontal-align: center;
                vertical-align: middle;
            }

            #PriceIcon {
                width: 32px;
                height: 32px;
                // background-color: #c98820;
                vertical-align: middle;
            }

            &.activation .PriceCountSelf {
                color: #00ff00;
            }

            .PriceLabel {
                margin-left: 8px;
                flow-children: right;
                vertical-align: middle;
            }
            .PriceCountSelf {
                
                // vertical-align: bottom;
                font-size: 18px;
                color: #ff0000;
            }

            .PriceCount {
                // vertical-align: bottom;
                font-size: 18px;
                color: #cccccc;
            }
        }
    }
}

#OptionAttributreContainer {
    width: 100%;
    height: 206px;
    // border: 1px solid #fff;
    overflow: squish scroll;

    &.Add .Add,
    &.Down .Down {
        visibility: visible;
    }

    .OptionAttributre {
        width: 100%;
        visibility: collapse;
        flow-children: down;

        .SoulStoneList {
            width: 100%;
            flow-children: down;

            // height: 260px;
            padding: 4px;
            padding-right: 8px;

            .ItemStoneAttrRows {
                border: 1px solid #666;
                margin-top: 2px;
                margin-bottom: 2px;
                // border: 1px solid #000000;
                padding: 4px 8px;
                height: 36px;

                &:enabled {

                    &:selected,
                    &:hover {
                        border: 1px solid #fdc835;
                        box-shadow: hollow #e7ae12 0px 0px 4px 0px;
                    }
                }

            }
        }

        .ButtonGroup {
            margin-top: 12px;
            flow-children: right;
            horizontal-align: center;

            Button {
                margin-left: 12px;
                margin-right: 12px;
            }
        }
    }

}

.ItemStoneAttrRows {
    width: 100%;
    // height: 32px;
    // flow-children: right;



    .AttrState {
        width: 100%;
        flow-children: right;
        vertical-align: middle;
        visibility: collapse;
    }

    &.is_unlock .LockState,
    &.is_lock .LockState,
    &.is_attr .AttrState {
        visibility: visible;
    }

    &.is_unlock .unLockLabel,
    &.is_lock .LockLabel {
        visibility: visible;
    }

    .LockState {
        horizontal-align: center;
        flow-children: right;
        visibility: collapse;
        vertical-align: middle;

        .LockIcon {
            width: 14px;
            height: 18px;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/lock_1.png");
        }

        Label {
            color: #666;
            margin-left: 4px;
            font-size: 16px;
            visibility: collapse;
        }
    }

    &:enabled {
        &:hover {
            border-color: #fff;
        }
    }

    &:disabled {
        brightness: 0.5;
        saturation: 0.5;
    }

    Label {
        vertical-align: middle;
    }

    .Name {
        font-size: 16px;
        width: 140px;
        color: #999999;
        text-overflow: shrink;
    }

    .Attr {
        font-size: 16px;
        horizontal-align: right;
        // color: #0f0;
    }

    &.is_up .Attr {
        color: #0f0;
    }

    &.is_down .Attr {
        color: #f00;
    }

    .State {
        flow-children: right;

        .StateUpper {
            width: 23px;
            height: 29px;
            vertical-align: middle;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/tip_upper.png");
            visibility: collapse;
        }

        .StateDown {
            width: 23px;
            height: 29px;
            vertical-align: middle;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/tip_upper.png");
            transform: rotateX(180deg);
            wash-color: #ff0e0e;
            brightness: 4;
            visibility: collapse;
        }

        .StateMax {
            width: 39px;
            height: 23px;
            vertical-align: middle;
            background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/tip_max.png");
            visibility: collapse;
        }
    }

    #DeleteStoneBtn {
        margin-left: 4px;
        width: 24px;
        height: 24px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/del_btn.png");
        background-size: 100%;
        visibility: collapse;

        &:hover {
            brightness: 2;
        }
    }
}

#AttributreUpperList {
    width: 100%;
    flow-children: down;
    overflow: squish scroll;
    height: 260px;
    padding: 4px;
    padding-right: 8px;

    .ItemStoneAttrRows {
        border: 1px solid #666;
        margin-top: 2px;
        margin-bottom: 2px;
        // border: 1px solid #000000;
        padding: 4px 8px;
        height: 36px;

        &:enabled {

            &:selected,
            &:hover {
                border: 1px solid #fdc835;
                box-shadow: hollow #e7ae12 0px 0px 4px 0px;
            }
        }

    }
}

#DeltetSoulStonePopups {
    width: 100%;
    height: 100%;
    background-color: #00000099;
    visibility: collapse;

    .PopupContainer {
        align: center center;
        width: 422px;
        height: 253px;
        background-image: url("file://{images}/custom_game/dashboard/personal/stone/popups/confirm_popup.png");

        .Title {
            horizontal-align: center;
            margin-top: 28px;
            font-size: 22px;
            color: #fff;
        }

        .SSAttribute {
            margin-top: 60px;
            flow-children: right;
            horizontal-align: center;

            Label {
                font-size: 16px;
            }


        }

        .Name {
            color: #838383
        }

        .Attr {
            color: #0f0;
        }

        #DeleteGiveItemList {
            horizontal-align: center;
            flow-children: right;
            margin-top: 92px;

            .ServerItem {
                // border: 1px solid #fff;
                width: 64px;
                height: 64px;
                margin-left: 4px;
                margin-right: 4px;
            }

        }

        .GiveRatioLabel {
            horizontal-align: center;
            flow-children: right;
            margin-top: 174px;

            Label {
                font-size: 16px;
            }


        }
    }
}

#ExtendCostItemList {
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #00000099;
    visibility: collapse;

    .ExtendContainer {
        // width: 300px;
        height: 139px;
        background-color: #0D0E10;
        border: 1px solid #37393B;
        vertical-align: bottom;
        // horizontal-align: center;
        margin-left: 800px;
        margin-bottom: 32px;
        padding: 0px 24px;

        #ShowExtendItemList {
            // margin-left: 12px;
            vertical-align: middle;
            flow-children: right;

            .ServerItemBorder {
                width: 74px;
                height: 74px;
                // border: 1px solid #ffffff;
                margin-left: 4px;
                margin-right: 4px;
                saturation: 0.1;
                brightness: 0.1;

                &.Enabled {
                    saturation: 1;
                    brightness: 1;
                }
            }
        }

    }


}