@import "./../dashboard_panel.less";


.ContentFrame {

    flow-children: right;




    &.handbook #card_handbook,
    &.register #card_register {
        visibility: visible;
    }
}

#BackpackItemList {
    width: 1034px;
    height: 716px;
    background-color: #18191a59;
    border: 2px solid #383b3d;
    flow-children: right-wrap;
    padding: 2px;

    RadioButton {
        width: 90px;
        height: 90px;
        margin: 4px;
        overflow: noclip;

        .ServerItem {
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .Selected {
            z-index: 9;
            width: 120%;
            height: 120%;
            align: center center;
            background-image: url("file://{images}/custom_game/icon/server_item/radio_box.png");
            background-size: 100%;
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.1s;
        }

        &:selected {
            .Selected {
                opacity: 1;
            }
        }
    }
}

#ItemDetails {
    margin-left: 8px;
    width: 422px;
    height: 718px;
    background-color: #18191a59;
    border: 2px solid #383b3d;
    flow-children: down;
    // overflow: noclip;
    opacity: 0;

    &.Show {
        opacity: 1;
    }

    .Header {
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #383b3d;
        background-color: #242527;

        Label {
            margin-left: 8px;
            vertical-align: middle;
            font-size: 20px;
            color: #c1c1c1;
        }
    }

    &.rare_2 .ItemContainer {
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r2.png");
    }

    &.rare_3 .ItemContainer {
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r3.png");
    }

    &.rare_4 .ItemContainer {
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r4.png");
    }

    &.rare_5 .ItemContainer {
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r5.png");
    }

    &.rare_6 .ItemContainer {
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r6.png");
    }

    .ItemContainer {
        margin-top: 16px;
        width: 418px;
        height: 172px;
        flow-children: right;
        horizontal-align: center;
        background-image: url("file://{images}/custom_game/dashboard/backpack/iteminfo_r1.png");
        background-size: 100%;

        .ServerItemName {
            Label {
                font-size: 22px;
            }
        }

        .NameAndAmount {
            width: 240px;
            padding: 24px 12px;
            flow-children: down;

            #Component_ItemName {
                width: 100%;

                Label {
                    text-shadow: 0px 0px 2px 2.0 #242527;
                }
            }


            .Title {
                margin-top: 24px;
                font-size: 16px;
                color: #cfcfcf;
            }

            .Amount {
                margin-top: 4px;
                font-size: 20px;
                color: #ffffff;
            }
        }

        #ItemComponent {
            vertical-align: middle;
            width: 128px;
            height: 128px;
            // border: 1px solid #ffffff;
        }
    }

    .SplitLine {
        width: 90%;
        height: 2px;
        margin-top: 24px;
        // margin-bottom: 24px;
        horizontal-align: center;
        background-color: #282828;
    }

    .Desc {
        width: 100%;
        padding: 24px;

        Label {
            font-size: 18px;
            color: #cdcdcd;
        }
    }

    .Footer {
        vertical-align: bottom;
        horizontal-align: center;
        margin-bottom: 24px;
    }
}